Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 1935334 - Clean up MsgComposeCommands.js l10n calls. r=arschmitz
  mail/components/compose/content/MsgComposeCommands.js
  mail/components/compose/content/MsgComposeCommands.js.globals
  mail/components/compose/content/cloudAttachmentLinkManager.js
Due: rejected-words

Bug 2006380 - Update ChatZilla allowed-dupes for SeaMonkey. r=IanN DONTBUILD
  suite/installer/allowed-dupes.mn
Due: none

No bug, trigger build.
  build/dummy
Due: none

Bug 1970022 - Remove migrateCalendarUI. r=mkmelin
  calendar/base/content/calendar-chrome-startup.js
Due: rejected-words

Bug 1970022 - Remove tasksCommands and tasksKeys. r=mkmelin
  calendar/base/content/calendar-chrome-startup.js
  mail/base/content/hiddenWindowMac.xhtml
  mail/base/content/mainCommandSet.inc.xhtml
  mail/base/content/mainKeySet.inc.xhtml
  mail/base/content/messageWindow.xhtml
  mail/base/content/messenger.xhtml
  mail/components/compose/content/messengercompose.xhtml
  mail/extensions/openpgp/content/ui/enigmailKeyManager.xhtml
Due: rejected-words

Bug 2009264 - Add contacts.onManyCreated event to addressBook API. r=john.bieling
  mail/components/extensions/parent/ext-addressBook.js
  mail/components/extensions/schemas/addressBook.json
  mail/components/extensions/test/xpcshell/test_ext_addressBook.js
Due: rejected-words

Bug 2015223: Add Flatpak Release Channel r=#thunderbuild
  taskcluster/comm_taskgraph/transforms/release_flatpak_repackage.py
  taskcluster/docker/tb-flatpak/launch_script.in
  taskcluster/docker/tb-flatpak/launch_script.sh
  taskcluster/docker/tb-flatpak/org.mozilla.thunderbird.appdata.xml.in
  taskcluster/docker/tb-flatpak/repack.sh
  taskcluster/kinds/release-flatpak-push/kind.yml
  taskcluster/kinds/release-flatpak-repackage/kind.yml
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2015362 - Add telemetry to record which calendar views are used. r=freaktechnik
  calendar/base/content/calendar-base-view.js
  calendar/base/content/calendar-modes.js
  calendar/base/content/calendar-task-tree.js
  calendar/base/content/today-pane-agenda.js
  calendar/base/content/today-pane.js
  calendar/metrics.yaml
  calendar/test/CalendarTestUtils.sys.mjs
  calendar/test/browser/views/browser_viewTelemetry.js
  calendar/test/browser/views/browser_viewTelemetry.toml
  calendar/test/moz.build
Due: rejected-words

Bug 2015362 - Activate the agenda only if there is an active calendar. r=mkmelin
  calendar/base/content/today-pane-agenda.js
  calendar/base/content/today-pane.js
  calendar/base/modules/calCalendarDeactivator.sys.mjs
  calendar/test/browser/views/browser_viewTelemetry.js
Due: rejected-words

Bug 2011779 - Add documentation about tree classes. r=mkmelin
  docs/index.rst
  mail/base/content/widgets/tree-view.mjs
  mail/base/docs/trees.md
Due: rejected-words

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 2011779 - Add documentation about mail display. r=freaktechnik
  docs/index.rst
  mail/base/docs/mail_display.md
Due: rejected-words

Bug 2014904 - Add a rust implementation of IHeaderBlock. r=jtracey
  rust/Cargo.lock
  rust/ews_xpcom/Cargo.toml
  rust/ews_xpcom/src/headerblock.rs
  rust/ews_xpcom/src/lib.rs
Due: rejected-words

No bug - Archive completed Fluent migration scripts. rs=me DONTBUILD
  python/l10n/tb_fluent_migrations/completed/bug_2012697_custom_headers.py
  python/l10n/tb_fluent_migrations/completed/bug_2012697_filter_log_templates.py
  python/l10n/tb_fluent_migrations/completed/bug_2013259_folder_widgets.py
Due: rejected-words

Bug 2014983 - Fix the border position of the acceptance maybe toggle. r=arschmitz
  mail/themes/shared/mail/calendar/calendarDialogAcceptance.css
Due: none

Bug 2015399 - Fix the --toolbar-field-* colors after bug 2003084. r=arschmitz
  mail/themes/shared/mail/variables.css
Due: none

Bug 2012105: Upgrade flatpak runtime to Freedesktop SDK 25.08. r=coreycb
  taskcluster/docker/tb-flatpak/Dockerfile
  taskcluster/docker/tb-flatpak/repack.sh
Due: none

Bug 2015674 - Move .h files from "public" directories to "src". r=BenC
  mailnews/base/public/moz.build
  mailnews/base/src/moz.build
  mailnews/base/src/msgCore.h
  mailnews/base/src/nsMsgLocalFolderHdrs.h
  mailnews/db/msgdb/public/moz.build
  mailnews/db/msgdb/src/components.conf
  mailnews/db/msgdb/src/moz.build
  mailnews/db/msgdb/src/nsDBFolderInfo.h
  mailnews/db/msgdb/src/nsImapMailDatabase.h
  mailnews/db/msgdb/src/nsMailDatabase.h
  mailnews/db/msgdb/src/nsMsgDatabase.h
  mailnews/db/msgdb/src/nsMsgHdr.h
  mailnews/db/msgdb/src/nsMsgThread.h
  mailnews/db/msgdb/src/nsNewsDatabase.h
  mailnews/mime/public/moz.build
  mailnews/mime/src/MimeEncoder.h
  mailnews/mime/src/MimeHeaderParser.h
  mailnews/mime/src/moz.build
  mailnews/mime/src/nsMailHeaders.h
  mailnews/search/public/moz.build
  mailnews/search/src/components.conf
  mailnews/search/src/moz.build
  mailnews/search/src/nsMsgBodyHandler.h
  mailnews/search/src/nsMsgResultElement.h
  mailnews/search/src/nsMsgSearchAdapter.h
  mailnews/search/src/nsMsgSearchBoolExpression.h
  mailnews/search/src/nsMsgSearchScopeTerm.h
  mailnews/search/src/nsMsgSearchTerm.h
Due: rejected-words

Bug 1652123 - Port to Thunderbird - Part 1: Refactored voluptuous schemas to now be called LegacySchema. rs=bustage-fix DONTBUILD
  taskcluster/comm_taskgraph/transforms/l10n_pre.py
  taskcluster/comm_taskgraph/transforms/push_langpacks.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=mkmelin
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/checksums.json
  rust/gkrust/Cargo.toml
  third_party/rust/cubeb-coreaudio/.cargo-checksum.json
  third_party/rust/cubeb-coreaudio/src/backend/aggregate_device.rs
  third_party/rust/cubeb-coreaudio/src/backend/mod.rs
  third_party/rust/cubeb-coreaudio/src/backend/tests/mod.rs
  third_party/rust/cubeb-coreaudio/src/backend/tests/sync_callback.rs
Due: rejected-words

Bug 2012112 - Load GPGME version 45 by default. r=mkmelin
  mail/extensions/openpgp/content/modules/GPGMELib.sys.mjs
Due: rejected-words

Bug 2014082 - Increase timeout further for comm/mailnews/import/test/browser/browser_importProfile.js. r=vineet
  mailnews/import/test/browser/browser_importProfile.js
Due: rejected-words

Bug 1983055 - Try to fix intermittent comm/mail/test/browser/account/browser_accountHubAbRemote.js | uncaught exception - TypeError: can't access property "remove", this.getRowForUID(...). r=vineet
  mail/components/addrbook/content/aboutAddressBook.js
Due: rejected-words

Bug 1999695 - Use goDoCommand("cmd_delete") for delete, trying to fix intermittent comm/mail/test/browser/folder-display/browser_deletionWithMultipleDisplays.js | test_delete_in_message_tab. r=tobyp
  mail/test/browser/folder-display/browser_deletionWithMultipleDisplays.js
Due: rejected-words

Bug 1999694 - Use goDoCommand("cmd_delete") for delete, trying to fix intermittent comm/mail/test/browser/folder-display/browser_deletionFromVirtualFolders.js. r=arschmitz
  mail/test/browser/folder-display/browser_deletionFromVirtualFolders.js
Due: rejected-words

Bug 1978879 - Yet another try to fix comm/mail/components/addrbook/test/browser/browser_cardDAV_init.js | new book got selected - 0 == 2. r=arschmitz
  mail/components/addrbook/test/browser/head.js
  mail/components/preferences/preferencesTab.js
Due: rejected-words

Bug 2015861 - Enable use of M365 thunderbird sandbox application via a preference. r=jtracey
  mailnews/base/src/OAuth2Providers.sys.mjs
  mailnews/mailnews.js
Due: rejected-words

Bug 2015885 - Organize ews_xpcom folder sync code. r=edicharry
  rust/ews_xpcom/src/client.rs
  rust/ews_xpcom/src/client/check_connectivity.rs
  rust/ews_xpcom/src/client/sync_folder_hierarchy.rs
  rust/protocol_shared/src/lib.rs
Due: rejected-words

Bug 1981742 - Try to fix intermittent comm/mail/test/browser/account/browser_accountHubAbRemote.js | TypeError: can't access property "readOnly", book is null. r=vineet
  mail/components/addrbook/content/aboutAddressBook.js
Due: rejected-words

Bug 2005770 - inline SetTextboxFocusById(). r=arschmitz
  mail/components/compose/content/dialogs/EdDialogCommon.js
  mail/components/compose/content/dialogs/EdInsertTable.js
Due: rejected-words

Bug 2005770 - inline SetTextboxFocus(). r=arschmitz
  mail/components/compose/content/dialogs/EdAECSSAttributes.js
  mail/components/compose/content/dialogs/EdAEHTMLAttributes.js
  mail/components/compose/content/dialogs/EdAdvancedEdit.js
  mail/components/compose/content/dialogs/EdColorPicker.js
  mail/components/compose/content/dialogs/EdColorProps.js
  mail/components/compose/content/dialogs/EdDialogCommon.js
  mail/components/compose/content/dialogs/EdDictionary.js
  mail/components/compose/content/dialogs/EdHLineProps.js
  mail/components/compose/content/dialogs/EdImageDialog.js
  mail/components/compose/content/dialogs/EdImageProps.js
  mail/components/compose/content/dialogs/EdLinkProps.js
  mail/components/compose/content/dialogs/EdListProps.js
  mail/components/compose/content/dialogs/EdNamedAnchorProps.js
  mail/components/compose/content/dialogs/EdSpellCheck.js
  mail/components/compose/content/dialogs/EdTableProps.js
Due: rejected-words

Bug 2011680 - Notify folder listeners when delete operations complete or fail. r=jtracey
  mailnews/protocols/ews/src/EwsFolder.cpp
  mailnews/protocols/ews/test/unit/test_item_operations.js
Due: rejected-words

Bug 2016020 - Enable allow_executeScript_in_moz_extension to restore old content script behavior. r=mkmelin
  mail/components/extensions/test/browser/browser_ext_tabs_content.js
  mail/components/extensions/test/browser/browser_ext_windows_create_popup_cookieStoreId.js
Due: rejected-words

Bug 2005770 - remove unused "pageLoading". r=arschmitz
  mail/base/content/specialTabs.js
  mail/components/addrbook/content/addressBookTab.js
  mail/components/preferences/preferencesTab.js
Due: rejected-words
