Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

libotr-linux64:
  treeherder:
    platform: linux64/opt
  thirdparty:
    args:
    - linux64
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-linux32:
  treeherder:
    platform: linux32/opt
  thirdparty:
    args:
    - linux32
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-macosx64:
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/macosx64/cross-releng.manifest
  treeherder:
    platform: osx-cross/opt
  run:
    tooltool-downloads: internal
  thirdparty:
    args:
    - macosx64
  toolchain:
  - linux64-binutils
  - linux64-cctools-port
  - linux64-clang-macosx-cross
  ...

libotr-win32:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-32/opt
  thirdparty:
    args:
    - win32

libotr-win64:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-64/opt
  thirdparty:
    args:
    - win64

l10n:
  description: Localization
  from-deps:
    group-by: platform
  locales-file: comm/mail/locales/onchange-locales
  locales-per-chunk: 5
  ignore-locales:
    by-build-platform:
      macosx64.*:
      - ja
      - en-US
      default:
      - ja-JP-mac
      - en-US
  run-time:
    by-build-platform:
      default: 900
  ...

rtd-webhook:
  description: Triggers a build of the in-tree source documentation at source-docs.thunderbird.net
  run-on-projects:
  - trunk
  index:
    product: thunderbird
    job-name: source-docs
  treeherder:
    platform: doc/opt
    kind: test
    symbol: doc(RTD)
    tier: 2
  worker-type: t-linux-docker-noscratch-amd
  worker:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
    command: ./comm/taskcluster/scripts/source-test-clang-format.sh {changed_files}
  fetches:
    toolchain:
    - linux64-clang
    - linux64-clang-tidy
    - linux64-rust
  ...

rejected-words:
  description: Reject some words we don't want to use in the code base
  treeherder:
    symbol: text(rejected-words)
    tier: 2
  run:
    mach: commlint -v -l rejected-words -f treeherder -f json:/builds/worker/mozlint.json comm

comm_taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(ctg)
  run:
    using: run-task
    cwd: '{checkout}'
    command: './mach configure && ./mach python-test --subsuite comm_taskgraph
  
      '

diff:
  description: Generates diffs of CI changes
  platform: linux1804-64/opt
  worker-type: t-linux-docker-amd
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: directory
      name: public/taskgraph
      path: /builds/worker/artifacts
  attributes:
    code-review: true
  ...

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

No bug - trigger build. rs=me
  build/dummy
Due: none

No bug, trigger build.
  build/dummy
Due: none

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=arschmitz
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/glean-core/.cargo-checksum.json
  third_party/rust/glean-core/.cargo_vcs_info.json
  third_party/rust/glean-core/Cargo.lock
  third_party/rust/glean-core/Cargo.toml
  third_party/rust/glean-core/Cargo.toml.orig
  third_party/rust/glean-core/src/error.rs
  third_party/rust/glean-core/src/upload/mod.rs
  third_party/rust/glean/.cargo-checksum.json
  third_party/rust/glean/.cargo_vcs_info.json
  third_party/rust/glean/Cargo.lock
  third_party/rust/glean/Cargo.toml
  third_party/rust/glean/Cargo.toml.orig
  third_party/rust/glean/src/system.rs
Due: rejected-words

Bug 1981702 - Fix items on the Other Actions context. r=tobyp
  mail/base/content/msgHdrView.inc.xhtml
  mail/base/content/msgHdrView.js
  mail/base/test/browser/menus/browser.toml
  mail/base/test/browser/menus/browser_headerActions.js
Due: rejected-words

Bug 2038892 - Port bug 2038731: Remove gather_required_signoffs. rs=me
  taskcluster/comm_taskgraph/transforms/l10n.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2038892 - Follow up: fix the keys expected by ctg tests. r=coreycb
  taskcluster/comm_taskgraph/test/test_parameters.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2033654 - Allow configuration of Thundermail with a URL. r=tobyp,freaktechnik
  mail/components/MessengerContentHandler.sys.mjs
  mail/components/accountcreation/modules/Thundermail.sys.mjs
  mail/components/accountcreation/moz.build
  mail/components/accountcreation/views/email.mjs
  mail/components/components.conf
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_thundermailSetup.js
  mail/test/browser/account/browser_thundermailUrlSetup.js
  mailnews/test/fakeserver/IMAPServer.sys.mjs
Due: rejected-words

Bug 2037150 - Rename EwsProtocolInfo -> ExchangeProtocolInfo. r=BenC
  mailnews/protocols/exchange/src/EwsProtocolInfo.h
  mailnews/protocols/exchange/src/ExchangeProtocolInfo.cpp
  mailnews/protocols/exchange/src/ExchangeProtocolInfo.h
  mailnews/protocols/exchange/src/components.conf
  mailnews/protocols/exchange/src/moz.build
Due: rejected-words

Bug 2037150 - Rename EwsListeners -> ExchangeListeners. r=BenC
  mailnews/protocols/exchange/src/EwsFetchMsgsToOffline.cpp
  mailnews/protocols/exchange/src/EwsFolderCopyHandler.cpp
  mailnews/protocols/exchange/src/EwsListeners.cpp
  mailnews/protocols/exchange/src/EwsMessageChannel.cpp
  mailnews/protocols/exchange/src/EwsMessageCopyHandler.cpp
  mailnews/protocols/exchange/src/EwsMessageSync.cpp
  mailnews/protocols/exchange/src/ExchangeFolder.cpp
  mailnews/protocols/exchange/src/ExchangeIncomingServer.cpp
  mailnews/protocols/exchange/src/ExchangeListeners.cpp
  mailnews/protocols/exchange/src/ExchangeListeners.h
  mailnews/protocols/exchange/src/ExchangeMessageCreate.cpp
  mailnews/protocols/exchange/src/moz.build
Due: rejected-words

Bug 2037150 - Rename [I]EwsLanguageInteropFactory -> [I]ExchangeLanguageInteropFactory. r=BenC
  mailnews/protocols/exchange/src/EwsLanguageInteropFactory.h
  mailnews/protocols/exchange/src/ExchangeLanguageInteropFactory.cpp
  mailnews/protocols/exchange/src/ExchangeLanguageInteropFactory.h
  mailnews/protocols/exchange/src/IExchangeLanguageInteropFactory.idl
  mailnews/protocols/exchange/src/components.conf
  mailnews/protocols/exchange/src/moz.build
  rust/protocol_shared/src/authentication/credentials.rs
Due: rejected-words

Bug 2037150 - Rename EWS protocol handling classes for Exchange. r=BenC
  mailnews/protocols/exchange/src/EwsProtocolHandler.h
  mailnews/protocols/exchange/src/ExchangeMessageChannel.cpp
  mailnews/protocols/exchange/src/ExchangeMessageChannel.h
  mailnews/protocols/exchange/src/ExchangeProtocolHandler.cpp
  mailnews/protocols/exchange/src/ExchangeProtocolHandler.h
  mailnews/protocols/exchange/src/ExchangeService.cpp
  mailnews/protocols/exchange/src/ExchangeService.h
  mailnews/protocols/exchange/src/components.conf
  mailnews/protocols/exchange/src/moz.build
Due: rejected-words

Bug 2037150 - Rename message/folder copy handlers for Exchange. r=BenC
  mailnews/protocols/exchange/src/ExchangeFolder.cpp
  mailnews/protocols/exchange/src/ExchangeFolderCopyHandler.cpp
  mailnews/protocols/exchange/src/ExchangeFolderCopyHandler.h
  mailnews/protocols/exchange/src/ExchangeMessageCopyHandler.cpp
  mailnews/protocols/exchange/src/ExchangeMessageCopyHandler.h
  mailnews/protocols/exchange/src/moz.build
Due: rejected-words

Bug 2014813 - Replace shortcutsOverlay.js with module. r=freaktechnik
  mail/base/content/messageWindow.js
  mail/base/content/messageWindow.xhtml
  mail/base/content/messenger.js
  mail/base/content/messenger.xhtml
  mail/base/content/modules/ShortcutsOverlay.mjs
  mail/base/content/shortcutsOverlay.js
  mail/base/jar.mn
  mail/base/moz.build
  mail/components/customizableshortcuts/test/browser/browser_shortcutsContainer.js
Due: rejected-words

Bug 580252 - Add pref to open global search results as list view by default.
  mail/app/profile/all-thunderbird.js
  mail/base/content/glodaFacetView.js
  mail/components/unifiedtoolbar/content/items/global-search-bar.mjs
Due: rejected-words

Bug 2025582 - Add rate limit to external browser OAuth requests. r=darktrojan
  mailnews/base/src/OAuth2.sys.mjs
  mailnews/base/src/OAuth2Module.sys.mjs
  mailnews/base/test/unit/test_oAuth2Module.js
Due: rejected-words

Bug 2035786 - Fix leak - [ASan perma] LeakSanitizer leak at MimeHeaders_copy, mime_new, mime_create, MimeMultipartAlternative_display_cached_part. r=kaie,jtracey
  mailnews/mime/src/nsSimpleMimeConverterStub.cpp
Due: rejected-words

Bug 2038975 - Fix focus in browser_formPickers. r=darktrojan
  mail/base/test/browser/widgets/head_formPickers.js
Due: rejected-words

Bug 1991016 - Fix release-notes-verify not running on push. r=sking
  taskcluster/kinds/release-notes-verify/kind.yml
Due: none

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=edicharry
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/signal-hook-registry/.cargo-checksum.json
  third_party/rust/signal-hook-registry/.cargo_vcs_info.json
  third_party/rust/signal-hook-registry/Cargo.lock
  third_party/rust/signal-hook-registry/Cargo.toml
  third_party/rust/signal-hook-registry/Cargo.toml.orig
  third_party/rust/signal-hook-registry/LICENSE-APACHE
  third_party/rust/signal-hook-registry/LICENSE-MIT
  third_party/rust/signal-hook-registry/README.md
  third_party/rust/signal-hook-registry/src/half_lock.rs
  third_party/rust/signal-hook-registry/src/lib.rs
  third_party/rust/signal-hook-registry/src/vec_map.rs
  third_party/rust/signal-hook-registry/tests/unregister_signal.rs
Due: rejected-words

Bug 2039105 - Port bug 2020765: Make nsIURI.rs usable in rust. r=edicharry
  mailnews/addrbook/src/nsLDAPURL.cpp
  mailnews/base/src/nsMsgMailNewsUrl.cpp
  mailnews/compose/src/nsSmtpUrl.cpp
Due: rejected-words

Bug 2039105 - Port bug 2020765: Make nsIURI.rs usable in rust. rs=bustage-fix
  mailnews/addrbook/src/nsLDAPURL.cpp
  mailnews/addrbook/src/nsLDAPURL.h
  mailnews/base/src/nsMsgMailNewsUrl.cpp
  mailnews/base/src/nsMsgMailNewsUrl.h
  mailnews/compose/src/nsSmtpUrl.cpp
  mailnews/compose/src/nsSmtpUrl.h
Due: rejected-words

Backed out changeset b84f864e648a (bug 2039105)
  mailnews/addrbook/src/nsLDAPURL.cpp
  mailnews/base/src/nsMsgMailNewsUrl.cpp
  mailnews/compose/src/nsSmtpUrl.cpp
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=tobyp
  rust/Cargo.lock
  rust/checksums.json
Due: none

Bug 1772455 - Prevent deeply nested thread messages from disappearing. r=tobyp
  mailnews/base/src/nsMsgDBView.cpp
  mailnews/base/src/nsMsgDBView.h
  mailnews/base/src/nsMsgQuickSearchDBView.cpp
  mailnews/base/src/nsMsgSearchDBView.cpp
  mailnews/base/src/nsMsgThreadedDBView.cpp
  mailnews/base/src/nsMsgThreadedDBView.h
  mailnews/base/src/nsMsgXFViewThread.cpp
  mailnews/base/src/nsMsgXFViewThread.h
Due: rejected-words

Bug 2039519 - Attempt temporary workaround. r=bustage
  .taskcluster.yml
Due: none

Bug 2039519 - Backed out changeset eee871a7a36c because this workaround patch didn't fix the issue. r=bustage
  .taskcluster.yml
Due: none

Bug 2039652 - Back out changeset dab18c5a3df2 (bug 2031264) for breaking the calendar UI. r=vineet
  calendar/base/src/CalCachedCalendar.sys.mjs
Due: rejected-words

no bug, trigger build.
  build/dummy
Due: none

Bug 2032955 - Remove the usage of accountSetup.css from about:import. r=vineet
  mail/themes/shared/jar.inc.mn
  mail/themes/shared/mail/aboutImport.css
  mail/themes/shared/mail/accountSetup.css
  mailnews/import/content/aboutImport.xhtml
  taskcluster/test/params/cr-onpush.yml
Due: rejected-words

no bug, trigger build
  build/dummy
Due: none

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py
