Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

No Bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1991259 - Add enterprise policy to disable QR export. r=thunderbird-reviewers,babolivier,aleca
  mail/app/profile/all-thunderbird.js
  mail/base/content/messenger.js
  mail/components/customizableui/content/panelUI.js
  mail/components/enterprisepolicies/Policies.sys.mjs
  mail/components/enterprisepolicies/schemas/policies-schema.json
  mail/components/enterprisepolicies/tests/xpcshell/test_simple_pref_policies.js
  mail/components/preferences/preferences.js
  mail/components/preferences/test/browser/browser.toml
  mail/components/preferences/test/browser/browser_qrExportDisabled.js
  mail/locales/en-US/messenger/policies/policies-descriptions.ftl
  mail/modules/QRExport.sys.mjs
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=tobyp
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/checksums.json
  rust/gkrust/Cargo.toml
  third_party/rust/mp4parse/.cargo-checksum.json
  third_party/rust/mp4parse/src/lib.rs
  third_party/rust/mp4parse/tests/public.rs
Due: rejected-words

Bug 1735630 - Add a configurable default address book for manually added contacts. r=aleca
  mail/base/content/widgets/header-fields.js
  mail/components/preferences/compose.inc.xhtml
  mail/components/preferences/compose.js
  mail/locales/en-US/messenger/preferences/preferences.ftl
  mail/test/browser/message-header/browser_messageHeader.js
  mail/themes/shared/mail/preferences/preferences.css
  mailnews/addrbook/modules/AddrBookUtils.sys.mjs
  mailnews/mailnews.js
Due: rejected-words

Bug 2055406 - On RTL fix the icon position of the .icon-button. r=arschmitz
  mail/themes/shared/mail/widgets.css
Due: none

Bug 1958478 - Rebuild the OpenPGP key import info dialog. r=kaie,arschmitz,tobyp
  mail/extensions/openpgp/content/modules/dialog.sys.mjs
  mail/extensions/openpgp/content/ui/enigmailKeyImportInfo.js
  mail/extensions/openpgp/content/ui/enigmailKeyImportInfo.xhtml
  mail/extensions/openpgp/content/ui/keyImportInfoDialog.js
  mail/extensions/openpgp/content/ui/keyImportInfoDialog.xhtml
  mail/extensions/openpgp/jar.mn
  mail/locales/en-US/messenger/openpgp/keyImportInfo.ftl
  mail/locales/en-US/messenger/openpgp/openpgp.ftl
  mail/themes/shared/jar.inc.mn
  mail/themes/shared/openpgp/keyImportInfo.css
  python/l10n/tb_fluent_migrations/bug1958478_openpgp_key_import_info.py
Due: rejected-words

Bug 1958478 - Follow up: lint fixes. DONTBUILD
  mail/locales/en-US/messenger/openpgp/openpgp.ftl
  mail/themes/shared/openpgp/keyImportInfo.css
Due: rejected-words

Bug 1972500 - Fix push_langpacks transform to run on major ESR versions. r=thunderbird-build-system-reviewers,coreycb
  taskcluster/comm_taskgraph/transforms/push_langpacks.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1806770 - Tidy up IMAP folder FindUidsToAdd/FindUidsToDelete helper methods. r=babolivier
  mailnews/imap/public/ImapTypes.idl
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/imap/src/nsImapUndoTxn.cpp
  mailnews/imap/src/nsImapUtils.cpp
  mailnews/imap/src/nsImapUtils.h
Due: rejected-words

Bug 2052428 - Set test IMAP server default uidnext to 5000 instead of 1. r=darktrojan
  mailnews/test/fakeserver/Imapd.sys.mjs
Due: rejected-words

Bug 2044587 - Surface named text/* attachments even if referenced by CID in multipart/related. r=thunderbird-back-end-reviewers,babolivier
  mail/test/browser/attachment/browser_unreferencedRelatedPart.js
  mail/test/browser/attachment/data/apple_mail_related_attachments.eml
  mail/test/browser/composition/browser3.toml
  mail/test/browser/composition/browser_inlineRelatedAttachmentDraft.js
  mailnews/mime/src/mimemrel.cpp
Due: rejected-words

Bug 2053967 - Account Hub Manual Config - Exchange service url step design changes.r=klamping
  mail/themes/shared/mail/accountHub.css
Due: none

Bug 2057049 - Port bug 1949093: Merge gfx detection utils to one binary. r=tobyp DONTBUILD
  mail/installer/package-manifest.in
Due: none

Bug 2055558 - Update test taskgraph parameters. r=thunderbird-build-system-reviewers,dandarnell
  taskcluster/test/params/cb-onpush.yml
  taskcluster/test/params/cb-promote-thunderbird.yml
  taskcluster/test/params/cb-push-thunderbird.yml
  taskcluster/test/params/cb-ship-thunderbird.yml
  taskcluster/test/params/cc-nightly-desktop.yml
  taskcluster/test/params/cc-onpush.yml
  taskcluster/test/params/cr-onpush.yml
  taskcluster/test/params/cr-promote-thunderbird.yml
  taskcluster/test/params/cr-push-thunderbird.yml
  taskcluster/test/params/cr-ship-thunderbird.yml
Due: none

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=vineet
  rust/Cargo.lock
  rust/checksums.json
Due: none

Bug 2052101 - Improve Mork memory safety to prevent at least 13 distinct crash signatures and add some narration. r=BenC
  mailnews/db/mork/morkAtomMap.cpp
  mailnews/db/mork/morkMap.cpp
  mailnews/db/mork/morkMap.h
  mailnews/db/mork/morkRowMap.cpp
  mailnews/db/mork/morkRowObject.cpp
  mailnews/db/mork/morkRowSpace.cpp
  mailnews/db/mork/morkStore.cpp
  mailnews/db/mork/morkTable.cpp
  mailnews/db/msgdb/src/nsMsgHdr.cpp
Due: rejected-words

Bug 2057328 - Port bug 2052937: Update FindReadableCalls to handle one less paramater. r=edicharry
  mailnews/addrbook/src/nsLDAPURL.cpp
  mailnews/compose/src/nsMsgComposeService.cpp
  mailnews/extensions/mdn/nsMsgMdnGenerator.cpp
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/imap/src/nsImapProtocol.cpp
  mailnews/mime/src/mimethtm.cpp
  mailnews/search/src/nsMsgFilterList.cpp
  suite/components/feeds/nsFeedSniffer.cpp
Due: rejected-words

Bug 2056420 - AH Manual Config: Show OAuth option if hostname allows it. r=arschmitz
  mail/components/accountcreation/content/widgets/email-manual-config-form.mjs
  mail/components/accountcreation/test/browser/browser_accountHubEmailManualConfigForm.js
Due: rejected-words

Bug 2057048 - Never override Content-Type application/octet-stream with an empty string. r=tobyp
  mailnews/mime/src/mimei.cpp
  mailnews/mime/src/mimemoz2.cpp
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=tobyp
  rust/Cargo.lock
  rust/checksums.json
Due: none

Bug 2057732 - Temporarily disable uv for Thunderbird test tasks. r=darktrojan
  taskcluster/kinds/test/kind.yml
Due: none

Bug 2057793 - Port bug 2049782: Refactor Alerts Services to have non-nsIObserver callbacks. r=aleca
  calendar/base/src/CalAlarmMonitor.sys.mjs
  calendar/test/browser/browser_itemNotification.js
  mail/base/test/browser/getMessages/browser_getMessages_certError.js
  mail/base/test/browser/getMessages/browser_getMessages_connectionError.js
  mail/components/activity/modules/alertHook.sys.mjs
  mail/components/im/modules/chatNotifications.sys.mjs
  mail/test/browser/notification/browser_collection.js
  mailnews/base/src/MailNotificationManager.sys.mjs
  mailnews/protocols/exchange/test/browser/browser_basic_notifications.js
  mailnews/test/resources/MockAlertsService.sys.mjs
Due: rejected-words

Bug 2057195 - Always maximize the task list on Today pane in Task only mode. r=tobyp
  calendar/base/themes/common/today-pane.css
Due: none

Bug 1992781 - Migrate calendar-occurrence-prompt.dtd to fluent. r=aleca,flod,sking
  calendar/base/content/dialogs/calendar-occurrence-prompt.js
  calendar/base/content/dialogs/calendar-occurrence-prompt.xhtml
  calendar/locales/en-US/calendar/calendar-occurrence-prompt.ftl
  calendar/locales/en-US/chrome/calendar/calendar-occurrence-prompt.dtd
  calendar/locales/jar.mn
  python/l10n/tb_fluent_migrations/bug_1992781_calendar_occurrence_prompt.py
Due: rejected-words

Bug 2053648 - Fix tests to work with message display in a content process, part 1. r=aleca
  mail/base/test/browser/browser_clickLinks.js
  mail/base/test/browser/browser_mailTabsAndWindows.js
  mail/base/test/browser/files/clickableContent.eml
  mail/components/extensions/test/browser/browser_ext_messageDisplayScripts.js
  mail/components/extensions/test/browser/browser_ext_messageDisplayScripts_mv2_manifest.js
  mail/components/extensions/test/browser/browser_ext_messageDisplayScripts_mv3.js
  mail/test/browser/composition/browser_sendFormat.js
  mail/test/browser/multiple-identities/browser_displayNames.js
  mail/test/browser/openpgp/composition/browser_composeSigned3.js
  mail/test/browser/tabmail/browser_closing.js
Due: rejected-words

Bug 1949640 - Fix a crash while loading mail folders. r=tobyp
  mailnews/db/msgdb/src/nsMsgDatabase.cpp
Due: rejected-words

Bug 2043990 - Honor rememberPassword also for auto-discovered calendars in the Account Hub. r=freaktechnik
  mail/components/accountcreation/views/email.mjs
Due: rejected-words

Bug 2057040 - Let SetExchangeOverrideOAuthDetails set false. r=thunderbird-reviewers,babolivier
  mail/test/browser/account/browser_serverSettings.js
  mailnews/protocols/exchange/src/ExchangeIncomingServer.cpp
Due: rejected-words

No Bug - Archive Completed Fluent Migrations. rs=me. DONTBUILD
  python/l10n/tb_fluent_migrations/completed/bug1958478_openpgp_key_import_info.py
  python/l10n/tb_fluent_migrations/completed/bug_1892911_calendar_getanystring.py
  python/l10n/tb_fluent_migrations/completed/bug_1892911_calendar_getltnstring.py
  python/l10n/tb_fluent_migrations/completed/bug_1992781_calendar_occurrence_prompt.py
  python/l10n/tb_fluent_migrations/completed/bug_2050953_calendar_dialog_titles.py
Due: rejected-words

Bug 2053426 - Fix protocol select so mouse movements don't cancel clicks on cards. r=klamping
  mail/test/browser/account/browser_accountHubCredentialsConfirmation.js
  mail/themes/shared/mail/accountHub.css
Due: rejected-words

Bug 2058141 - Add arcconfig to merge automation replacement. r=thunderbird-build-system-reviewers,coreycb
  taskcluster/kinds/merge-automation/kind.yml
Due: none

Bug 1936022 - Display embedded SVG images when attachments are not displayed inline. r=jtracey
  mailnews/mime/src/mimemrel.cpp
  mailnews/mime/test/unit/test_multipart_related_svg.js
  mailnews/mime/test/unit/xpcshell.toml
Due: rejected-words
