Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 1995417 - Ensure unified toolbar delete button removes message, not attachment. r=mkmelin
  mail/components/unifiedtoolbar/content/items/delete-button.mjs
  mail/test/browser/attachment/browser_attachment.js
Due: rejected-words

Bug 1991298 - Do not reassign default status of uninitialized accounts. r=mkmelin
  mailnews/base/src/nsMsgAccountManager.cpp
  mailnews/base/test/unit/test_accountMgrCustomTypes.js
Due: rejected-words

Bug 1995040 - Increase symbol upload timeout to 45 minutes. r=bustage
  taskcluster/kinds/upload-symbols/kind.yml
Due: none

Bug 1982671 - Add ServerType helper trait to dedup constraints. r=babolivier
  rust/ews_xpcom/src/client.rs
  rust/ews_xpcom/src/client/change_read_status.rs
  rust/ews_xpcom/src/client/change_read_status_all.rs
  rust/ews_xpcom/src/client/check_connectivity.rs
  rust/ews_xpcom/src/client/copy_move_operations/copy_move_folder.rs
  rust/ews_xpcom/src/client/copy_move_operations/copy_move_item.rs
  rust/ews_xpcom/src/client/copy_move_operations/move_generic.rs
  rust/ews_xpcom/src/client/create_folder.rs
  rust/ews_xpcom/src/client/create_message.rs
  rust/ews_xpcom/src/client/delete_folder.rs
  rust/ews_xpcom/src/client/delete_messages.rs
  rust/ews_xpcom/src/client/get_message.rs
  rust/ews_xpcom/src/client/mark_as_junk.rs
  rust/ews_xpcom/src/client/send_message.rs
  rust/ews_xpcom/src/client/sync_folder_hierarchy.rs
  rust/ews_xpcom/src/client/sync_messages_for_folder.rs
  rust/ews_xpcom/src/client/update_folder.rs
Due: rejected-words

Bug 1993070 - Account Hub Email: Tests for manual config option in first step. r=freaktechnik
  mail/components/accountcreation/test/browser/browser.toml
  mail/components/accountcreation/test/browser/browser_accountHubEmailAutoForm.js
  mail/components/accountcreation/test/browser/files/accountHubEmailAutoForm.xhtml
  mail/test/browser/account/browser_accountHubManualConfig.js
Due: rejected-words

Bug 1994719 - Allow missing addresses in EWS mailboxes. r=jtracey
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/ews_xpcom/Cargo.toml
  rust/ews_xpcom/src/headers.rs
  rust/ews_xpcom/src/outgoing.rs
  third_party/rust/ews/.cargo-checksum.json
  third_party/rust/ews/src/types/common.rs
Due: rejected-words

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1995646 - Port bug 1994034: Rename failedCertChain to handshakeCertificates. r=aleca Port of https://hg-edge.mozilla.org/mozilla-central/rev/2a14d0de87691fb714543af284db34c8dc3f05bf.
  mailnews/compose/src/SmtpClient.sys.mjs
  mailnews/local/src/Pop3Client.sys.mjs
Due: rejected-words

Bug 1995649 - Fix test_UrlUtils.js after bug 694856. r=aleca
  mail/app/profile/all-thunderbird.js
Due: rejected-words

Bug 1997487 - Create a data adapter for folder selection. r=freaktechnik
  mail/base/content/modules/FolderSelectionDataAdapter.mjs
  mail/base/jar.mn
  mail/base/test/unit/test_folderSelectionDataAdapter.js
  mail/base/test/unit/xpcshell.toml
Due: rejected-words

Bug 1995666 - Port bug 1995058: Request a longer time for slow xpcshell tests. r=mkmelin
  chat/components/src/test/xpcshell.toml
  mail/base/test/unit/xpcshell.toml
  mail/components/accountcreation/test/xpcshell/xpcshell.toml
  mail/components/extensions/test/xpcshell/xpcshell-local.toml
  mailnews/addrbook/test/unit/xpcshell_cardDAV.toml
  mailnews/compose/test/unit/xpcshell.toml
  mailnews/db/gloda/test/unit/xpcshell.toml
  mailnews/local/test/unit/xpcshell.toml
Due: none

Bug 1995701 - Stop using mozilla::Unused. r=#thunderbird-reviewers
  mail/app/nsMailApp.cpp
  mailnews/base/src/nsMsgIncomingServer.cpp
  mailnews/base/src/nsMsgUtils.cpp
  mailnews/compose/src/nsMsgCompUtils.cpp
  mailnews/db/mork/morkFile.cpp
  mailnews/extensions/mdn/nsMsgMdnGenerator.cpp
  mailnews/extensions/smime/nsCertPicker.cpp
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/imap/src/nsImapOfflineSync.cpp
  mailnews/local/src/nsLocalMailFolder.cpp
  mailnews/mime/src/comi18n.cpp
  mailnews/mime/src/mimehdrs.cpp
  mailnews/mime/src/mimemoz2.cpp
Due: rejected-words

Bug 1995649 - Backed out changeset eed59193770e. r=bustage
  mail/app/profile/all-thunderbird.js
Due: rejected-words

Bug 1718998 - Comment-only change to add some notes to nsIMsgFolder deletion methods. r=vineet
  mailnews/base/public/nsIMsgFolder.idl
Due: rejected-words

Bug 1995666 - apply default requesttimeoutfactors properly for c-c. r=vineet
  taskcluster/kinds/test/tests.yml
Due: none

Bug 1987786 - Handle errors in libresolv native DNS lookup functions. r=mkmelin
  mail/modules/DNS.worker.mjs
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=kaie,tobyp
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/error-support/.cargo-checksum.json
  third_party/rust/error-support/metrics.yaml
  third_party/rust/error-support/pings.yaml
  third_party/rust/error-support/src/error_tracing.rs
  third_party/rust/error-support/src/lib.rs
  third_party/rust/init_rust_components/.cargo-checksum.json
  third_party/rust/init_rust_components/Cargo.toml
  third_party/rust/init_rust_components/src/lib.rs
  third_party/rust/logins/.cargo-checksum.json
  third_party/rust/logins/fixtures/profile/.gitignore
  third_party/rust/logins/fixtures/profile/logins.db
  third_party/rust/logins/src/encryption.rs
  third_party/rust/logins/src/store.rs
  third_party/rust/nss_build_common/.cargo-checksum.json
  third_party/rust/nss_build_common/src/lib.rs
  third_party/rust/tracing-support/.cargo-checksum.json
  third_party/rust/tracing-support/src/layer.rs
  third_party/rust/tracing-support/src/lib.rs
  third_party/rust/viaduct/.cargo-checksum.json
  third_party/rust/viaduct/Cargo.toml
  third_party/rust/viaduct/src/client.rs
  third_party/rust/viaduct/src/error.rs
  third_party/rust/viaduct/src/headers.rs
  third_party/rust/viaduct/src/lib.rs
  third_party/rust/viaduct/src/new_backend.rs
  third_party/rust/viaduct/src/ohttp.rs
  third_party/rust/viaduct/src/ohttp_client.rs
Due: rejected-words

Bug 1995666 - increase requesttimeoutfactor for test_over4GBMailboxes.js (CCov builds are timing out). r=kaie
  mailnews/local/test/unit/xpcshell.toml
Due: none

Bug 1995951 - Remove the MOZ_THUNDERBIRD_RUST build constant. r=coreycb
  mail/Makefile.in
  mail/moz.build
  mail/moz.configure
  mailnews/base/src/nsNewMailnewsURI.cpp
  mailnews/mailnews.js
  mailnews/protocols/moz.build
Due: rejected-words

Bug 1995799 - Remove the experimental EWS pref. r=mkmelin
  mail/components/accountcreation/content/accountSetup.js
  mail/components/accountcreation/content/widgets/email-config-found.mjs
  mail/components/accountcreation/views/email.mjs
  mail/modules/MailMigrator.sys.mjs
  mail/themes/shared/mail/accountHubForms.css
  mailnews/mailnews.js
Due: rejected-words

Bug 1996185 - Port Bug 1990567 to Thunderbird - Use taskcluster package instead of REST API in taskgraph. rs=bustage-fix
  taskcluster/comm_taskgraph/decision.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1996238 - Port bug 1995811 - Enable ESLint rule jsdoc/multiline-blocks. rs=lint DONTBUILD
  calendar/base/modules/utils/calItipUtils.sys.mjs
  mail/base/content/contentAreaClick.js
  mail/base/content/mailWindow.js
  mail/base/content/messageWindow.js
  mail/base/content/messenger-customization.js
  mail/base/content/messenger.js
  mail/base/content/toolbarIconColor.js
  mail/base/content/viewZoomOverlay.js
  mail/base/content/widgets/foldersummary.js
  mail/base/content/widgets/gloda-autocomplete-input.js
  mail/base/content/widgets/statuspanel.js
  mail/components/extensions/test/browser/browser_ext_cloudFile.js
  mail/extensions/openpgp/content/modules/persistentCrypto.sys.mjs
  mailnews/db/gloda/modules/Collection.sys.mjs
  mailnews/db/gloda/modules/GlodaDataModel.sys.mjs
  mailnews/imap/test/unit/test_listSubscribed.js
  mailnews/search/content/searchWidgets.js
Due: rejected-words

Bug 1984116 - Capture telemetry for EWS accounts in Glean. r=edicharry,tobyp
  mail/components/MailGlue.sys.mjs
  mail/moz.configure
  mail/tags.yaml
  mailnews/protocols/ews/metrics.yaml
  mailnews/protocols/ews/src/EwsIncomingServer.h
  mailnews/protocols/ews/src/IEwsClient.idl
  mailnews/protocols/ews/src/components.conf
  mailnews/protocols/ews/test/unit/test_server_version.js
  rust/Cargo.lock
  rust/ews_xpcom/Cargo.toml
  rust/ews_xpcom/src/client.rs
  rust/ews_xpcom/src/client/server_version.rs
  rust/ews_xpcom/src/lib.rs
Due: rejected-words

no bug, trigger build
  build/dummy
Due: none

Bug 1989608: Add linux64 asan fuzzing target. r=coreyb
  mail/config/mozconfigs/linux64/nightly-fuzzing-asan
  taskcluster/kinds/build/linux.yml
Due: none

No bug - trigger build.
  build/dummy
Due: none
