Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 1995827 - Enable manual configuration of Graph protocol in account hub. r=freaktechnik
  mail/components/accountcreation/content/widgets/email-manual-incoming-form.mjs
  mail/components/accountcreation/modules/AccountConfig.sys.mjs
  mail/components/accountcreation/modules/ConfigVerifier.sys.mjs
  mail/components/accountcreation/modules/CreateInBackend.sys.mjs
  mail/components/accountcreation/modules/ExchangeAutoDiscover.sys.mjs
  mail/components/accountcreation/modules/readFromXML.sys.mjs
  mail/components/accountcreation/templates/accountHubEmailIncomingFormTemplate.inc.xhtml
  mail/components/accountcreation/test/browser/browser_accountHubEmailManualIncomingForm.js
  mail/components/accountcreation/test/browser/files/accountHubEmailManualIncomingForm.xhtml
  mail/components/accountcreation/test/xpcshell/test_accountConfig.js
  mail/components/accountcreation/test/xpcshell/test_autoconfigXML.js
  mail/components/accountcreation/views/email.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/test/browser/account/browser_accountHubExchange.js
  mail/test/browser/account/browser_accountHubManualConfig.js
  mail/themes/shared/mail/accountHub.css
  mailnews/base/src/OAuth2Providers.sys.mjs
  mailnews/compose/src/OutgoingServerService.sys.mjs
  mailnews/protocols/ews/src/EwsIncomingServer.cpp
  mailnews/protocols/ews/src/components.conf
Due: rejected-words

Bug 2006841 - Move cleanup test helper into its own module. r=mkmelin.
  mail/base/test/browser/getMessages/head.js
  mail/base/test/browser/head.js
  mail/base/test/browser/menus/head.js
  mail/components/compose/test/browser/head.js
  mail/components/extensions/test/browser/head.js
  mail/test/browser/shared-modules/CleanupHelpers.sys.mjs
  mail/test/browser/shared-modules/moz.build
Due: rejected-words

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 2006369 - Add unit tests for the sanitizer module. r=aleca
  mail/components/accountcreation/modules/Sanitizer.sys.mjs
  mail/components/accountcreation/test/xpcshell/test_sanitizer.js
  mail/components/accountcreation/test/xpcshell/xpcshell.toml
  mail/locales/en-US/chrome/messenger/accountCreationUtil.properties
Due: rejected-words

Bug 2003825 - Do not show old notifications if the waitForActive promise rejects. r=freaktechnik
  mail/components/inappnotifications/modules/NotificationOpener.sys.mjs
  mail/components/inappnotifications/test/unit/test_notification_opener.js
Due: rejected-words

Bug 2005563 - Check for verified signature on EWS OpenPGP test. r=kaie
  mail/test/browser/openpgp/data/eml/alice-signed.eml
  mailnews/protocols/ews/test/browser/browser_openPGP.js
Due: rejected-words

Bug 2007240 - Port bug 2006158 - Ensure release-level takes Github branches into account. rs=bustage-fix
  taskcluster/comm_taskgraph/transforms/env_subst.py
  taskcluster/comm_taskgraph/transforms/hardened_signing.py
  taskcluster/comm_taskgraph/transforms/l10n.py
  taskcluster/comm_taskgraph/transforms/l10n_pre.py
  taskcluster/comm_taskgraph/transforms/push_langpacks.py
  taskcluster/comm_taskgraph/transforms/release_flatpak_repackage.py
  taskcluster/comm_taskgraph/transforms/update_verify_config.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2007240 - part2, fix for commn-central. rs=bustage-fix
  taskcluster/comm_taskgraph/util/taskgraph_attributes.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2007240 - part3 - hopefully fix for real. rs=bustage-fix
  taskcluster/comm_taskgraph/util/taskgraph_attributes.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1836262 - Hide signature status icon for unencrypted email with a bad or unknown status. r=mkmelin
  mail/extensions/smime/content/msgHdrViewSMIMEOverlay.js
  mail/test/browser/openpgp/browser_inlineOpenPGP.js
  mail/test/browser/openpgp/browser_viewMessage.js
  mail/test/browser/openpgp/browser_viewPartialMessage.js
Due: rejected-words

Bug 1836262 - Better language for signed/encrypted status checks. r=mkmelin
  mail/test/browser/openpgp/browser_collectKeys.js
  mail/test/browser/openpgp/browser_perm_decrypt.js
  mail/test/browser/openpgp/browser_viewMessage.js
  mail/test/browser/openpgp/browser_viewMessage2.js
  mail/test/browser/openpgp/browser_viewMessageSecurity.js
  mail/test/browser/openpgp/composition/browser_composeSigned.js
Due: rejected-words

Bug 1993524 - ADR for redux state management. r=aleca,vineet,arschmitz
  docs/adr/records/0003-state-management.md
  docs/adr/records/index.md
Due: none

Bug 2005770 - remove unused cal.threadingEnabled/calendar.threading.disabled. r=tobyp
  calendar/base/calendar.js
  calendar/base/modules/calUtils.sys.mjs
Due: rejected-words

Bug 2007313 - Lint fix in taskgraph_attributes.py. r=aleca
  taskcluster/comm_taskgraph/util/taskgraph_attributes.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2007313 - follow-up, fix "ModuleNotFoundError: No module named 'comm_taskcluster'". rs=bustage-fix
  taskcluster/comm_taskgraph/util/taskgraph_attributes.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2007412 - Update date/time picker test helper for new picker panel structure. r=mkmelin
  mail/base/test/browser/widgets/head_formPickers.js
Due: rejected-words

Bug 1978879 - Try to fix intermittent comm/mail/components/addrbook/test/browser/browser_cardDAV_init.js | new book got selected - 0 == 2. r=tobyp
  calendar/base/content/dialogs/calendar-summary-dialog.js
  calendar/base/content/widgets/calendar-item-summary.js
  mail/base/content/msgHdrView.js
  mail/components/addrbook/content/addressBookTab.js
  mail/test/browser/content-policy/browser_dnsPrefetch.js
  mail/test/browser/shared-modules/WindowHelpers.sys.mjs
  mailnews/import/content/aboutImport.js
Due: rejected-words

Bug 2007334 - Disable new HTML color picker behavior until tests have been adapted. r=mkmelin
  mail/base/test/browser/browser_folderTreeProperties.js
  mail/test/browser/account/browser_accountColors.js
Due: rejected-words

Bug 2007246 - Crash @ nsImapMailFolder::ProgressStatusString. r=aleca
  mailnews/imap/src/nsImapMailFolder.cpp
Due: rejected-words

Bug 2007246 - follow-up, fix "unused variable" bustage. rs=bustage-fix
  mailnews/imap/src/nsImapMailFolder.cpp
Due: rejected-words

Bug 2005900 - a11y: Set "aria-pressed" for "Keep duration" button. r=arschmitz
  calendar/base/content/item-editing/calendar-item-iframe.js
  calendar/base/content/item-editing/calendar-item-iframe.xhtml
Due: rejected-words

Bug 2005770 - remove unneeded cal.createAdapter(). r=tobyp
  calendar/base/modules/calUtils.sys.mjs
  calendar/base/public/calICalendar.idl
  calendar/base/public/calICalendarManager.idl
  calendar/test/unit/test_caldav_requests.js
  calendar/test/unit/test_calmgr.js
  calendar/test/unit/test_data_bags.js
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=tobyp
  rust/Cargo.lock
  rust/checksums.json
Due: none

Bug 2005770 - remove cal.addObserver and releated code (unused). r=tobyp
  calendar/base/modules/calUtils.sys.mjs
  calendar/base/src/CalDeletedItems.sys.mjs
Due: rejected-words

Bug 2007761 - Update libotr toolchain build to use macOS SDK 26.2. r=edicharry
  taskcluster/kinds/toolchain/libotr.yml
  taskcluster/scripts/build-libotr.sh
Due: none
