Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

libotr-linux64:
  treeherder:
    platform: linux64/opt
  thirdparty:
    args:
    - linux64
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-linux32:
  treeherder:
    platform: linux32/opt
  thirdparty:
    args:
    - linux32
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-macosx64:
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/macosx64/cross-releng.manifest
  treeherder:
    platform: osx-cross/opt
  run:
    tooltool-downloads: internal
  thirdparty:
    args:
    - macosx64
  toolchain:
  - linux64-binutils
  - linux64-cctools-port
  - linux64-clang-macosx-cross
  ...

libotr-win32:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-32/opt
  thirdparty:
    args:
    - win32

libotr-win64:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-64/opt
  thirdparty:
    args:
    - win64

l10n:
  description: Localization
  from-deps:
    group-by: platform
  locales-file: comm/mail/locales/onchange-locales
  locales-per-chunk: 5
  ignore-locales:
    by-build-platform:
      macosx64.*:
      - ja
      - en-US
      default:
      - ja-JP-mac
      - en-US
  run-time:
    by-build-platform:
      default: 900
  ...

rtd-webhook:
  description: Triggers a build of the in-tree source documentation at source-docs.thunderbird.net
  run-on-projects:
  - trunk
  index:
    product: thunderbird
    job-name: source-docs
  treeherder:
    platform: doc/opt
    kind: test
    symbol: doc(RTD)
    tier: 2
  worker-type: t-linux-docker-noscratch-amd
  worker:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
    command: ./comm/taskcluster/scripts/source-test-clang-format.sh {changed_files}
  fetches:
    toolchain:
    - linux64-clang
    - linux64-clang-tidy
    - linux64-rust
  ...

rejected-words:
  description: Reject some words we don't want to use in the code base
  treeherder:
    symbol: text(rejected-words)
    tier: 2
  run:
    mach: commlint -v -l rejected-words -f treeherder -f json:/builds/worker/mozlint.json comm

comm_taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(ctg)
  run:
    using: run-task
    cwd: '{checkout}'
    command: './mach configure && ./mach python-test --subsuite comm_taskgraph
  
      '

diff:
  description: Generates diffs of CI changes
  platform: linux1804-64/opt
  worker-type: t-linux-docker-amd
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: directory
      name: public/taskgraph
      path: /builds/worker/artifacts
  attributes:
    code-review: true
  ...

Bug 1121151 - Prevent failed account setup from leaving incoming servers behind. r=tobyp
  mailnews/base/src/nsMsgAccountManager.cpp
  mailnews/base/test/unit/test_accountMgrRemoveIncomingServer.js
  mailnews/base/test/unit/xpcshell.toml
Due: rejected-words

Bug 2057187 - Allow legacy modified UTF-7 tag keys in IMAP keyword sanitization. r=welpy-cw,tobyp
  mailnews/imap/public/nsIImapService.idl
  mailnews/imap/src/nsImapService.cpp
  mailnews/imap/test/unit/test_storeCustomKeywords.js
  mailnews/imap/test/unit/xpcshell-shared.toml
Due: rejected-words

Bug 2054196 - Preserve draft when encrypted message sending fails. r=tobyp
  mail/test/browser/composition/browser_draftIdentity.js
  mailnews/compose/src/MessageSend.sys.mjs
Due: rejected-words

No Bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1883816 - Defer select event during typematic key repeat in TreeListboxMixin. r=aleca
  mail/base/content/widgets/listbox/tree-listbox-mixin.mjs
  mail/base/test/browser/widgets/browser_treeListbox.js
Due: rejected-words

Bug 2059675 - Override new Nova theme changes in Add-ons Manager. r=aleca
  mail/themes/shared/jar.inc.mn
  mail/themes/shared/mail/aboutExtra.css
  mail/themes/shared/mail/variables.css
Due: none

Bug 2059544 - Fix Storybook naming for Account Hub Radio Card Large component. r=vineet
  mail/components/storybook/stories/account-hub-radio-card-large.stories.mjs
Due: rejected-words

Bug 2052807 - Do not re-add items of a hidden or removed calendar to the view when an in-flight read completes. r=darktrojan
  calendar/base/content/widgets/calendar-filter.js
  calendar/test/CalendarTestUtils.sys.mjs
  calendar/test/browser/browser.toml
  calendar/test/browser/browser_icsCacheToggleGhost.js
Due: rejected-words

Bug 2060002 - Override the Nova --toolbarbutton-icon-fill color. r=aleca
  mail/themes/shared/mail/variables.css
Due: none

No bug - Archive completed Fluent migration scripts. rs=me DONTBUILD
  python/l10n/tb_fluent_migrations/completed/bug_1498052_remove_account_dialog.py
Due: rejected-words

Bug 2060003 - Port bug 2052180: Convert `selected` to a standard boolean attribute for the remaining XUL select-control widgets. r=freaktechnik
  calendar/base/themes/common/calendar-creation.css
  calendar/base/themes/common/dialogs/calendar-alarm-dialog.css
  calendar/base/themes/common/dialogs/calendar-invitations-dialog.css
  mail/themes/osx/mail/menulist.css
  mail/themes/shared/mail/attachmentList.css
  mail/themes/shared/mail/chat.css
  mail/themes/shared/mail/glodacomplete.css
  mail/themes/shared/mail/imAccounts.css
  mail/themes/shared/mail/messengercompose.css
  mail/themes/shared/mail/preferences/preferences.css
  mail/themes/shared/mail/searchBox.css
  mail/themes/shared/mail/searchDialog.css
  mail/themes/shared/mail/themeableDialog.css
Due: none

Bug 2059604 - Correct comments and names for CopyServiceListener utility class. r=tobyp
  mailnews/base/src/UrlListener.cpp
  mailnews/base/src/UrlListener.h
  mailnews/base/src/nsMsgDBFolder.cpp
Due: rejected-words

Bug 2056916 - Remove langpack products from Thunderbird esr bouncer-check. r=thunderbird-build-system-reviewers,dandarnell
  testing/mozharness/configs/releases/bouncer_thunderbird_esr.py
Due: rejected-words

Bug 2057063 - Remove unused nsIMsgOfflineImapOperation.numberOfCopies. r=tobyp
  mailnews/db/msgdb/public/nsIMsgOfflineImapOperation.idl
  mailnews/db/msgdb/src/nsMsgOfflineImapOperation.cpp
Due: rejected-words

fix: CVE-2026-44983 security vulnerability
  rust/Cargo.lock
Due: none

Bug 2059345 - Split nsImapOfflineDownloader out from nsImapOfflineSync. r=tobyp
  mailnews/imap/src/moz.build
  mailnews/imap/src/nsImapOfflineDownloader.cpp
  mailnews/imap/src/nsImapOfflineDownloader.h
  mailnews/imap/src/nsImapOfflineSync.cpp
  mailnews/imap/src/nsImapOfflineSync.h
  mailnews/imap/src/nsImapService.cpp
  mailnews/imap/src/nsImapUtils.cpp
Due: rejected-words

Bug 2059345 - Add test_nsImapOfflineDownloader.js. r=tobyp
  mailnews/base/src/nsMsgOfflineManager.cpp
  mailnews/imap/test/unit/test_nsImapOfflineDownloader.js
  mailnews/imap/test/unit/xpcshell-shared.toml
Due: rejected-words

Bug 1616753 - Fix Gloda filtering when using the filterNode dropdown select. r=tobyp
  mail/base/content/widgets/glodaFacet.js
  mailnews/db/gloda/modules/Gloda.sys.mjs
  mailnews/db/gloda/modules/NounMimetype.sys.mjs
Due: rejected-words

Bug 2060181 - Drop mix-blend-mode from message content when adapting for dark mode. r=aleca
  mail/base/content/modules/DarkReader.mjs
  mail/test/browser/message-reader/browser_darkReader.js
  mail/test/browser/message-reader/data/dark_mode_blend_mode.eml
Due: rejected-words

Bug 2055578 - Allow going to advanced config from incomplete manual exchange form in account hub. r=arschmitz
  mail/components/accountcreation/content/widgets/email-exchange-type.mjs
  mail/test/browser/account/browser_accountHubManualConfig.js
Due: rejected-words

Bug 2050933 - Removed stale, unused constants. r=thunderbird-build-system-reviewers,ebaginski
  taskcluster/docker/recipes/build_desktop_file.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2058761 - Make quoting the selected text work with messages displayed in a child process. r=freaktechnik
  mail/actors/MailMessageChild.sys.mjs
  mail/actors/moz.build
  mail/base/content/mailCommon.js
  mail/components/MailGlue.sys.mjs
  mail/test/browser/composition/browser_replySelection.js
  mail/test/browser/composition/data/html-quoting.eml
  mail/test/browser/openpgp/browser_openPGPDrafts.js
  mailnews/compose/public/nsIMsgComposeService.idl
  mailnews/compose/src/nsMsgComposeService.cpp
  mailnews/compose/src/nsMsgComposeService.h
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=darktrojan
  rust/checksums.json
Due: none

Bug 2060765 - Port bug 2059751 - Vendor/fork ESLint rule @microsoft/sdl/no-insecure-url. r=freaktechnik
  calendar/test/CalDAVServer.sys.mjs
  calendar/test/browser/invitations/browser_imipBarEmail.js
  eslint.config.mjs
  mail/base/test/browser/getMessages/browser_getMessages.js
  mail/base/test/browser/getMessages/browser_getMessages_badPassword.js
  mail/base/test/browser/getMessages/browser_getMessages_oAuth2.js
  mail/base/test/browser/widgets/browser_linkHandler.js
  mail/components/compose/test/browser/head.js
  mail/components/enterprisepolicies/tests/browser/browser_policy_extensionsettings.js
  mail/components/extensions/test/browser/browser_ext_windows.js
  mail/components/preferences/test/browser/browser_privacy.js
  mail/test/browser/account/browser_accountHubExchange.js
  mail/test/browser/account/browser_accountHubManualConfig.js
  mail/test/browser/attachment/browser_attachmentEvents.js
  mail/test/browser/message-header/browser_phishingBar.js
  mail/test/browser/notification/browser_collection.js
  mailnews/addrbook/test/CardDAVServer.sys.mjs
Due: rejected-words

Bug 1892531 - Async subfolder creation. r=BenC,babolivier
  mailnews/base/public/nsIMsgFolder.idl
  mailnews/base/src/nsMsgDBFolder.cpp
  mailnews/base/test/unit/test_createSubfolder.js
  mailnews/base/test/unit/xpcshell.toml
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/imap/src/nsImapMailFolder.h
  mailnews/local/src/nsLocalMailFolder.cpp
  mailnews/local/src/nsLocalMailFolder.h
  mailnews/protocols/exchange/src/ExchangeFolder.cpp
  mailnews/protocols/exchange/src/ExchangeFolder.h
  mailnews/test/fakeserver/EwsServer.sys.mjs
  mailnews/test/fakeserver/GraphServer.sys.mjs
Due: rejected-words

Bug 2060423 - Forget Exchange clients that fail to initialise. r=tobyp
  mailnews/protocols/exchange/src/ExchangeIncomingServer.cpp
Due: rejected-words

fix: V-001 security vulnerability
  taskcluster/docker/tb-atn/atn_langpack.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2045506: Initialize the unread-count dock badge at startup on macOS even when no mail window opens. r=arschmitz,edicharry
  mail/components/MailGlue.sys.mjs
  mailnews/base/src/MailNotificationManager.sys.mjs
Due: rejected-words

Bug 2052415: Count unread mail across every account's inbox for the macOS badge, not just already-loaded folders. r=arschmitz,edicharry
  mailnews/base/src/nsMsgDBFolder.cpp
  mailnews/base/src/nsMsgDBFolder.h
  mailnews/base/test/unit/test_notificationCountMultiAccount.js
  mailnews/base/test/unit/xpcshell.toml
Due: rejected-words

Bug 2060875 - Fix intermittent compose bad password leak. r=edicharry
  mail/components/compose/test/browser/browser_sendMessage_badPassword.js
  rust/Cargo.lock
  rust/protocol_shared/Cargo.toml
  rust/protocol_shared/src/authentication/credentials.rs
  rust/protocol_shared/src/operation_sender/send_request.rs
Due: rejected-words

Bug 2055078 - Turn on manual config pref by default. r=freaktechnik
  mail/app/profile/all-thunderbird.js
Due: rejected-words

Bug 2060269 - Fix duplicate functions breaking jsdoc. r=freaktechnik
  mail/test/browser/shared-modules/AxeHelpers.sys.mjs
Due: rejected-words

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py
