Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

libotr-linux64:
  treeherder:
    platform: linux64/opt
  thirdparty:
    args:
    - linux64
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-linux32:
  treeherder:
    platform: linux32/opt
  thirdparty:
    args:
    - linux32
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-macosx64:
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/macosx64/cross-releng.manifest
  treeherder:
    platform: osx-cross/opt
  run:
    tooltool-downloads: internal
  thirdparty:
    args:
    - macosx64
  toolchain:
  - linux64-binutils
  - linux64-cctools-port
  - linux64-clang-macosx-cross
  ...

libotr-win32:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-32/opt
  thirdparty:
    args:
    - win32

libotr-win64:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-64/opt
  thirdparty:
    args:
    - win64

l10n:
  description: Localization
  from-deps:
    group-by: platform
  locales-file: comm/mail/locales/onchange-locales
  locales-per-chunk: 5
  ignore-locales:
    by-build-platform:
      macosx64.*:
      - ja
      - en-US
      default:
      - ja-JP-mac
      - en-US
  run-time:
    by-build-platform:
      default: 900
  ...

rtd-webhook:
  description: Triggers a build of the in-tree source documentation at source-docs.thunderbird.net
  run-on-projects:
  - trunk
  index:
    product: thunderbird
    job-name: source-docs
  treeherder:
    platform: doc/opt
    kind: test
    symbol: doc(RTD)
    tier: 2
  worker-type: t-linux-docker-noscratch-amd
  worker:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
    command: ./comm/taskcluster/scripts/source-test-clang-format.sh {changed_files}
  fetches:
    toolchain:
    - linux64-clang
    - linux64-clang-tidy
    - linux64-rust
  ...

rejected-words:
  description: Reject some words we don't want to use in the code base
  treeherder:
    symbol: text(rejected-words)
    tier: 2
  run:
    mach: commlint -v -l rejected-words -f treeherder -f json:/builds/worker/mozlint.json comm

comm_taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(ctg)
  run:
    using: run-task
    cwd: '{checkout}'
    command: './mach configure && ./mach python-test --subsuite comm_taskgraph
  
      '

diff:
  description: Generates diffs of CI changes
  platform: linux1804-64/opt
  worker-type: t-linux-docker-amd
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: directory
      name: public/taskgraph
      path: /builds/worker/artifacts
  attributes:
    code-review: true
  ...

Bug 2060701 - Port Bug 2010106: Minor extensions to zed config. r=ebaginski
  .gitignore
  .hgignore
  .zed/tasks.json
Due: none

Bug 2052910 - Account Hub: Don't populate host or user name when coming from protocol select. r=klamping
  mail/components/accountcreation/views/email.mjs
  mail/test/browser/account/browser_accountHubManualConfig.js
Due: rejected-words

Bug 2056958 - Add external browser flow and PKCE as custom OAuth settings. r=edicharry,darktrojan,tobyp
  mail/locales/en-US/messenger/accountSettings.ftl
  mail/test/browser/account/browser_serverSettings.js
  mailnews/base/prefs/content/am-server-advanced.js
  mailnews/base/prefs/content/am-server-advanced.xhtml
  mailnews/base/prefs/content/am-server.js
  mailnews/base/prefs/content/am-server.xhtml
  mailnews/base/public/msgIOAuth2Module.idl
  mailnews/base/src/OAuth2Module.sys.mjs
  mailnews/base/test/unit/test_oAuth2Module.js
  mailnews/protocols/exchange/src/ExchangeIncomingServer.cpp
  mailnews/protocols/exchange/src/ExchangeOAuth2CustomDetails.cpp
  mailnews/protocols/exchange/src/ExchangeOAuth2CustomDetails.h
  mailnews/protocols/exchange/src/IExchangeIncomingServer.idl
Due: rejected-words

Bug 2060700 - Port Bug 2023419: Remove Emacs/Vim modelines to use .editorconfig. r=tobyp,sking
  .editorconfig
  mail/extensions/builtin-addons/moz.build
  third_party/botan/botan.mozbuild
  third_party/botan/moz.build
  third_party/bzip2/moz.build
  third_party/json-c/moz.build
  third_party/moz.build
  third_party/openpgp.configure
  third_party/rnp/moz.build
  third_party/rnp/src/rnp/moz.build
  third_party/rnp/src/rnpkeys/moz.build
  third_party/rnpdefs.mozbuild
  third_party/sax-js/moz.build
  third_party/zlib/moz.build
Due: rejected-words

Bug 2056286 - Fix disabled Mark and Tag menu bar items in synthetic views. r=tobyp
  mail/base/content/mailWindowOverlay.js
  mail/base/test/browser/menus/browser_messageMenu.js
Due: rejected-words

Bug 2061029 - Port bug 1977771: Update builders to clang 22. r=aleca
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/kind.yml
Due: none

Bug 2061029 - Reinstate clang 21 just for libotr. r=aleca
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/toolchain/libotr.yml
Due: none

Bug 2056143 - Fix bct1 failures part 2 - Fix calendar a11y click targets. r=tobyp,aleca,thunderbird-build-system-reviewers,coreycb
  calendar/base/content/calendar-multiday-view.js
  calendar/base/content/calendar-tab-panels.inc.xhtml
  calendar/base/themes/common/calendar-views.css
  calendar/locales/en-US/calendar/calendar.ftl
  calendar/test/browser/browser_dragEventItem.js
  calendar/test/browser/browser_todayPane_dragAndDrop.js
  python/l10n/tb_fluent_migrations/bug_2056143_calendar_task_filter.py
Due: rejected-words

Bug 2056144 - Fix bct1 failures part 3 - Label thread twisty buttons. r=tobyp,aleca
  mail/base/content/about3Pane.xhtml
  mail/base/content/widgets/treeview/thread-card.mjs
  mail/base/content/widgets/treeview/thread-row.mjs
  mail/locales/en-US/messenger/treeView.ftl
Due: rejected-words

Bug 2055078 - Backed out changeset 5a7018c9529a for causing failures.
  mail/app/profile/all-thunderbird.js
Due: rejected-words

Bug 2056145 - Fix bct1 failures part 4 - Fix thread row a11y checks. r=aleca
  mail/base/content/widgets/treeview/thread-card.mjs
  mail/base/test/MailViewHelpers.sys.mjs
  mail/base/test/browser/browser_cardsView.js
  mail/base/test/browser/browser_zoom.js
  mail/components/extensions/test/browser/browser_ext_browserAction_popup_focus.js
  mail/test/browser/cloudfile/browser_attachmentUrls.js
  mail/test/browser/content-policy/browser_blockException.js
  mail/test/browser/content-policy/browser_dnsPrefetch.js
  mail/test/browser/content-policy/browser_exposedInContentTabs.js
  mail/test/browser/content-policy/browser_generalContentPolicy.js
  mail/test/browser/content-policy/browser_jsContentPolicy.js
  mail/test/browser/content-policy/browser_pluginsPolicy.js
  mail/test/browser/folder-tree-modes/browser_smartFolders.js
  mail/test/browser/message-header/browser_messageHeaderCustomize.js
  mail/test/browser/message-header/browser_phishingBar.js
  mail/test/browser/message-header/browser_replyIdentity.js
  mail/test/browser/message-header/browser_replyToListFromAddressSelection.js
  mail/test/browser/message-header/browser_returnReceipt.js
  mail/test/browser/shared-modules/FolderDisplayHelpers.sys.mjs
  mailnews/extensions/newsblog/test/browser/browser_feedDisplay.js
Due: rejected-words

Bug 2056146 - Fix bct1 failures part 5 - Fix quick filter a11y checks. r=aleca
  mail/base/content/quickFilterBar.inc.xhtml
Due: rejected-words

Bug 2061029 - Backed out changeset 5760699a44fe for causing failures.
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/toolchain/libotr.yml
Due: none

Bug 2061029 - Backed out changeset 1a9c563cb559 for causing failures.
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/kind.yml
Due: none

Bug 2058761 - Add mail-message message manager group. r=freaktechnik
  mail/actors/LinkClickHandlerChild.sys.mjs
  mail/base/content/aboutMessage.xhtml
  mail/components/MailGlue.sys.mjs
Due: rejected-words

No Bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1860900 - Add back test coverage for Cards View tags. r=aleca
  mail/base/test/browser/browser_cardsView.js
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=BenC
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/checksums.json
  third_party/rust/happy-eyeballs/.cargo-checksum.json
  third_party/rust/happy-eyeballs/.github/workflows/rust.yml
  third_party/rust/happy-eyeballs/Cargo.lock
  third_party/rust/happy-eyeballs/Cargo.toml
  third_party/rust/happy-eyeballs/README.md
  third_party/rust/happy-eyeballs/src/lib.rs
  third_party/rust/happy-eyeballs/tests/common/mod.rs
  third_party/rust/happy-eyeballs/tests/connection_attempts.rs
  third_party/rust/happy-eyeballs/tests/hostname_resolution.rs
  third_party/rust/happy-eyeballs/tests/https_records.rs
  third_party/rust/happy-eyeballs/tests/network_config.rs
  third_party/rust/happy-eyeballs/tests/optimistic_dns.rs
Due: rejected-words

Bug 2056148 - Fix bct1 failures part 7 - Expose PanelView for appmenu a11y checks. r=aleca
  mail/components/customizableui/content/panelUI.js
  mail/test/browser/shared-modules/WindowHelpers.sys.mjs
Due: rejected-words

Bug 2056149 - Fix bct1 failures part 8 - Handle disabled extension action click checks. r=aleca
  mail/components/extensions/test/browser/head.js
Due: rejected-words

Bug 2056147 - Fix bct1 failures part 6 - Fix message header a11y semantics. r=aleca
  mail/base/content/msgHdrView.inc.xhtml
  mail/base/content/msgHdrView.js
  mail/base/content/multimessageview.js
  mail/base/content/multimessageview.xhtml
  mail/base/content/widgets/header-fields.js
  mail/base/test/browser/browser_multiMessageView.js
  mail/test/browser/message-header/browser_messageHeader.js
Due: rejected-words

Bug 2053971 - Update account hub manual config exchange type subview to preserve state. r=vineet,tobyp
  mail/components/accountcreation/content/widgets/email-exchange-type.mjs
  mail/components/accountcreation/templates/accountHubEmailExchangeType.inc.xhtml
  mail/components/accountcreation/test/browser/browser_accountHubEmailExchangeType.js
  mail/components/accountcreation/test/browser/files/accountHubEmailExchangeType.xhtml
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
Due: rejected-words

Bug 124146 - Fixed typo in assertion. r=BenC
  mailnews/base/src/nsMsgDBView.cpp
Due: rejected-words

Bug 2056377 - Fix bct1 failures part 9 - Fix calendar event item a11y semantics. r=aleca
  calendar/base/content/calendar-editable-item.js
  calendar/base/content/calendar-month-view.js
  calendar/base/content/calendar-multiday-view.js
  calendar/base/themes/common/calendar-views.css
Due: rejected-words

Bug 2054468 - Port bug 1976717: Handle Thunderbird signing from task artifacts. r=thunderbird-build-system-reviewers,gerard-majax,sking
  taskcluster/comm_taskgraph/transforms/hardened_signing.py
  taskcluster/comm_taskgraph/transforms/l10n.py
  taskcluster/comm_taskgraph/transforms/signing.py
  taskcluster/comm_taskgraph/transforms/tb_build.py
  taskcluster/config.yml
  taskcluster/kinds/build-mac-signing/kind.yml
  taskcluster/kinds/build/macosx.yml
  taskcluster/kinds/shippable-l10n-mac-signing/kind.yml
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2058940 - Allow the default outgoing server to be deleted. r=freaktechnik
  mailnews/base/prefs/content/am-smtp.js
  mailnews/base/prefs/content/am-smtp.xhtml
  mailnews/compose/src/OutgoingServerService.sys.mjs
Due: rejected-words

Bug 2061208 - Guard against missing message on sent message create failure. r=jtracey
  mailnews/protocols/exchange/src/ExchangeMessageCopyHandler.cpp
Due: rejected-words

Bug 2058737 - Account Hub Manual Config - IMAP/POP3 Design updates. r=tobyp,klamping
  mail/components/accountcreation/templates/accountHubEmailManualConfigFormTemplate.inc.xhtml
  mail/components/accountcreation/test/browser/files/accountHubEmailManualConfigForm.xhtml
  mail/components/accountcreation/views/email.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/themes/shared/mail/accountHubForms.css
Due: rejected-words

Bug 2045949 - Show a tooltip in the read/new indicator on cards view. r=tobyp,freaktechnik
  mail/base/content/about3Pane.xhtml
  mail/base/content/widgets/treeview/thread-card.mjs
  mail/base/content/widgets/treeview/thread-row.mjs
  mail/base/test/browser/browser_cardsView.js
  mail/locales/en-US/messenger/about3Pane.ftl
  mail/locales/en-US/messenger/treeView.ftl
  mail/themes/shared/mail/threadCard.css
Due: rejected-words

Bug 2055286 - Allow extension OAuth providers to override built-in hostname registrations. r=edicharry,aleca,darktrojan
  mail/components/extensions/parent/ext-oauth_provider.js
  mail/components/extensions/schemas/oauth_provider.json
  mail/components/extensions/test/xpcshell/test_ext_oauth_provider.js
  mail/locales/en-US/messenger/accountSettings.ftl
  mail/themes/shared/mail/accountManage.css
  mailnews/base/prefs/content/am-server.js
  mailnews/base/prefs/content/am-server.xhtml
  mailnews/base/src/OAuth2Module.sys.mjs
  mailnews/base/src/OAuth2Providers.sys.mjs
  mailnews/base/test/unit/test_oAuth2Providers.js
Due: rejected-words

Bug 2061569 - Port bug 2059828: Update browser_parsable_css.js. r=arschmitz
  mail/base/test/browser/static/browser_parsable_css.js
Due: rejected-words

Bug 2052714 - Play back changes made to a cached ICS calendar while offline instead of silently discarding them. r=darktrojan
  calendar/base/src/CalCachedCalendar.sys.mjs
  calendar/providers/ics/CalICSCalendar.sys.mjs
  calendar/test/unit/test_ics_offline_playback.js
  calendar/test/unit/xpcshell.toml
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=tobyp
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/gl_generator/.cargo-checksum.json
  third_party/rust/gl_generator/.cargo_vcs_info.json
  third_party/rust/gl_generator/Cargo.toml
  third_party/rust/gl_generator/Cargo.toml.orig
  third_party/rust/gl_generator/generators/struct_gen.rs
  third_party/rust/gleam/.cargo-checksum.json
  third_party/rust/gleam/.cargo_vcs_info.json
  third_party/rust/gleam/Cargo.lock
  third_party/rust/gleam/Cargo.toml
  third_party/rust/gleam/Cargo.toml.orig
  third_party/rust/gleam/README.md
  third_party/rust/gleam/build.rs
  third_party/rust/gleam/src/gl.rs
  third_party/rust/gleam/src/gl_fns.rs
  third_party/rust/gleam/src/gles_fns.rs
  third_party/rust/khronos_api/.cargo-checksum.json
  third_party/rust/khronos_api/.cargo_vcs_info.json
  third_party/rust/khronos_api/Cargo.toml
  third_party/rust/khronos_api/Cargo.toml.orig
Due: rejected-words

Bug 2061085 - Tear down SMTP connections still open after QUIT. r=tobyp
  mailnews/compose/src/SmtpClient.sys.mjs
  mailnews/compose/test/unit/test_smtpQuitClose.js
  mailnews/compose/test/unit/xpcshell.toml
Due: rejected-words

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py
