Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

libotr-linux64:
  treeherder:
    platform: linux64/opt
  thirdparty:
    args:
    - linux64
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-linux32:
  treeherder:
    platform: linux32/opt
  thirdparty:
    args:
    - linux32
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-macosx64:
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/macosx64/cross-releng.manifest
  treeherder:
    platform: osx-cross/opt
  run:
    tooltool-downloads: internal
  thirdparty:
    args:
    - macosx64
  toolchain:
  - linux64-binutils
  - linux64-cctools-port
  - linux64-clang-macosx-cross
  ...

libotr-win32:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-32/opt
  thirdparty:
    args:
    - win32

libotr-win64:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-64/opt
  thirdparty:
    args:
    - win64

l10n:
  description: Localization
  from-deps:
    group-by: platform
  locales-file: comm/mail/locales/onchange-locales
  locales-per-chunk: 5
  ignore-locales:
    by-build-platform:
      macosx64.*:
      - ja
      - en-US
      default:
      - ja-JP-mac
      - en-US
  run-time:
    by-build-platform:
      default: 900
  ...

rtd-webhook:
  description: Triggers a build of the in-tree source documentation at source-docs.thunderbird.net
  run-on-projects:
  - trunk
  index:
    product: thunderbird
    job-name: source-docs
  treeherder:
    platform: doc/opt
    kind: test
    symbol: doc(RTD)
    tier: 2
  worker-type: t-linux-docker-noscratch-amd
  worker:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
    command: ./comm/taskcluster/scripts/source-test-clang-format.sh {changed_files}
  fetches:
    toolchain:
    - linux64-clang
    - linux64-clang-tidy
    - linux64-rust
  ...

rejected-words:
  description: Reject some words we don't want to use in the code base
  treeherder:
    symbol: text(rejected-words)
    tier: 2
  run:
    mach: commlint -v -l rejected-words -f treeherder -f json:/builds/worker/mozlint.json comm

comm_taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(ctg)
  run:
    using: run-task
    cwd: '{checkout}'
    command: './mach configure && ./mach python-test --subsuite comm_taskgraph
  
      '

diff:
  description: Generates diffs of CI changes
  platform: linux1804-64/opt
  worker-type: t-linux-docker-amd
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: directory
      name: public/taskgraph
      path: /builds/worker/artifacts
  attributes:
    code-review: true
  ...

Bug 1994579 - Stop sending browsing context IDs across actors. r=dandarnell
  mail/actors/LinkClickHandlerChild.sys.mjs
  mail/actors/LinkClickHandlerParent.sys.mjs
Due: rejected-words

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

No bug, trigger build.
  build/dummy
Due: none

Bug 1975860 - Account Hub: Tests for credentials confirmation for 3rd party hosted account. r=aleca
  mail/components/accountcreation/templates/accountHubEmailCredentialsConfirmationTemplate.inc.xhtml
  mail/components/accountcreation/test/browser/browser.toml
  mail/components/accountcreation/test/browser/browser_accountHubEmailCredentialsConfirmation.js
  mail/components/accountcreation/test/browser/files/accountHubEmailCredentialsConfirmation.xhtml
  mail/components/accountcreation/test/xpcshell/test_findConfig.js
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubCredentialsConfirmation.js
Due: rejected-words

Bug 1829748 - Sort "Recent destinations" submenu by time of modification. r=tobyp
  mailnews/base/content/folder-menupopup.js
Due: rejected-words

Bug 1992106 - Add success messages specific to where the config was found in Account Hub for email. r=vineet
  mail/components/accountcreation/views/email.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubEmailConfigFound.js
Due: rejected-words

Bug 1990186 - Add support for marking EWS folders read. r=edicharry,kaie
  mail/base/test/browser/getMessages/browser_getMessages_certError.js
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/protocols/ews/src/EwsFolder.cpp
  mailnews/protocols/ews/src/EwsFolder.h
  mailnews/protocols/ews/src/IEwsClient.idl
  mailnews/protocols/ews/test/unit/test_folder_operations.js
  mailnews/test/fakeserver/EwsServer.sys.mjs
  rust/ews_xpcom/src/client.rs
  rust/ews_xpcom/src/client/change_read_status.rs
  rust/ews_xpcom/src/client/change_read_status_all.rs
  rust/ews_xpcom/src/client/create_folder.rs
  rust/ews_xpcom/src/client/delete_folder.rs
  rust/ews_xpcom/src/client/delete_messages.rs
  rust/ews_xpcom/src/client/mark_as_junk.rs
  rust/ews_xpcom/src/client/update_folder.rs
  rust/ews_xpcom/src/lib.rs
  rust/ews_xpcom/src/safe_xpcom/simple_operation_listener.rs
Due: rejected-words

Bug 1416232 - Flip the message list sort arrows on Linux. r=freaktechnik
  mail/themes/shared/mail/tree-listbox.css
Due: none

Bug 1992593 - Crop the content on small invitations dialog width. r=aleca
  calendar/base/content/dialogs/calendar-invitations-dialog.js
  calendar/base/themes/common/dialogs/calendar-invitations-dialog.css
  calendar/locales/en-US/calendar/calendar-invitations-dialog.ftl
Due: rejected-words

Bug 1994411 - Keep taskbar progress objects alive in memory until the window closes. r=tobyp
  mail/components/compose/content/MsgComposeCommands.js
  mail/modules/TaskbarProgress.sys.mjs
Due: rejected-words

Bug 1994822 - Port Bug 1994217 to Thunderbird - Cleanup for ESLint rule jsdoc/no-bad-blocks. r=kaie
  calendar/base/modules/utils/calItemUtils.sys.mjs
  calendar/base/src/CalCachedCalendar.sys.mjs
  calendar/test/unit/test_itip_utils.js
  chat/protocols/xmpp/xmpp-authmechs.sys.mjs
  mail/base/content/mailWindow.js
  mail/components/MessengerContentHandler.sys.mjs
  mail/extensions/openpgp/content/modules/MimeTree.sys.mjs
  mail/extensions/openpgp/content/modules/fixExchangeMsg.sys.mjs
  mail/extensions/openpgp/content/modules/mime.sys.mjs
  mail/extensions/openpgp/content/modules/persistentCrypto.sys.mjs
  mail/extensions/openpgp/content/ui/enigmailMessengerOverlay.js
  mail/test/browser/shared-modules/AddressBookHelpers.sys.mjs
  mail/test/browser/update/head.js
  mailnews/base/src/ABQueryUtils.sys.mjs
  mailnews/base/test/unit/test_mailstoreConverter.js
  mailnews/mime/src/mimeParser.sys.mjs
  mailnews/search/test/unit/test_bug404489.js
  mailnews/test/fakeserver/Ldapd.sys.mjs
  mailnews/test/resources/searchTestUtils.js
Due: rejected-words

Bug 1994890 - Fix conversion of Fluent strings to 16-bit strings in C++. r=aleca
  mailnews/base/src/nsMsgDBFolder.cpp
  mailnews/base/src/nsMsgDBView.cpp
  mailnews/extensions/mailviews/nsIMsgMailView.idl
  mailnews/extensions/mailviews/nsMsgMailViewList.cpp
  mailnews/extensions/mailviews/nsMsgMailViewList.h
  mailnews/search/src/nsMsgFilter.cpp
Due: rejected-words

Backed out changeset 7b0e28ca1346 (bug 1992106) for adding a broken test.
  mail/components/accountcreation/views/email.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubEmailConfigFound.js
Due: rejected-words

Bug 1992106 - Add success messages specific to where the config was found in Account Hub for email. r=freaktechnik
  mail/components/accountcreation/views/email.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubEmailConfigFound.js
Due: rejected-words

Bug 1995040 - Double timeout of symbol uploads. r=kaie
  taskcluster/kinds/upload-symbols/kind.yml
Due: none

Bug 1991016 - Verify that release notes have been published when promoting Thunderbird. r=coreycb
  taskcluster/comm_taskgraph/transforms/env_subst.py
  taskcluster/docker/tb-yaml/Dockerfile
  taskcluster/kinds/docker-image/docker-image.yml
  taskcluster/kinds/release-notes-verify/kind.yml
  taskcluster/scripts/verify-notes.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1982203 - Ensure keyboard commands are disabled when account hub is open. r=freaktechnik
  mail/components/accountcreation/content/accountHub.js
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubBackground.js
Due: rejected-words

Bug 1993842 - Partial backout of Bug 1979511. r=darktrojan,aleca,edicharry
  mail/components/extensions/test/browser/browser_ext_compose_details.js
  mail/components/extensions/test/browser/browser_ext_compose_details_mv3.js
  mail/components/extensions/test/xpcshell/test_ext_accounts_ews.js
  mail/components/extensions/test/xpcshell/test_ext_folders.js
  mail/components/extensions/test/xpcshell/test_ext_folders_mv3.js
  mail/components/extensions/test/xpcshell/test_ext_folders_query_capabilities.js
  mail/components/extensions/test/xpcshell/test_ext_messages_onNewMailReceived.js
  mail/test/browser/folder-display/browser_columns.js
  mailnews/base/content/folder-menupopup.js
  mailnews/base/src/nsMsgDBFolder.cpp
  mailnews/base/test/unit/test_folderNames.js
  mailnews/imap/test/unit/test_folderNamesImap.js
Due: rejected-words

Bug 1994912 - Fix browser_accountHubEmailManualIncomingForm.js on windows. r=tobyp
  mail/components/accountcreation/test/browser/browser_accountHubEmailManualIncomingForm.js
Due: rejected-words

No bug - Lint fix. rs=bustage-fix
  calendar/locales/en-US/calendar/calendar-creation.ftl
Due: rejected-words

Bug 1829728 - Comment only. Improve documentation for FolderUtils.getMostRecentFolders(). r=mkmelin
  mailnews/base/src/FolderUtils.sys.mjs
Due: rejected-words

Bug 1995138 - Remove PromptHelpers.sys.mjs. r=mkmelin There's no need for this any longer. We have more appropriate ways to deal with prompts.
  mail/test/browser/account/browser_values.js
  mail/test/browser/attachment/browser_attachmentEvents.js
  mail/test/browser/cloudfile/browser_notifications.js
  mail/test/browser/composition/browser_saveChangesOnQuit.js
  mail/test/browser/folder-widget/browser_messageFilters.js
  mail/test/browser/shared-modules/PromptHelpers.sys.mjs
  mail/test/browser/shared-modules/moz.build
Due: rejected-words

Backed out changeset c5f6b6165b02 (bug 1982203) for breaking a test.
  mail/components/accountcreation/content/accountHub.js
  mail/test/browser/account/browser.toml
  mail/test/browser/account/browser_accountHubBackground.js
Due: rejected-words

Backed out changeset 1a049cef1e38 (bug 1993434) until the tests are passing properly.
  taskcluster/kinds/test/tests.yml
Due: none

Bug 1835523 - Fix crash in [@ nsSubscribableServer::GetCellText]. r=kaie
  mailnews/base/src/nsSubscribableServer.cpp
Due: rejected-words

Bug 1985684 - Migrate existing logins to use AES. r=kaie
  mail/modules/MailMigrator.sys.mjs
Due: rejected-words

Bug 1993070 - Backed out changeset 5dd42ba20bb0 for causing perma failures (bug 1995480). r=bustage
  mail/components/accountcreation/test/browser/browser.toml
  mail/components/accountcreation/test/browser/browser_accountHubEmailAutoForm.js
  mail/components/accountcreation/test/browser/files/accountHubEmailAutoForm.xhtml
  mail/test/browser/account/browser_accountHubManualConfig.js
Due: rejected-words

Bug 1979707 - Backed out changeset 32043df55473 requested by mkmelin
  mail/test/browser/account/browser_accountHubExchange.js
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=babolivier
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/checksums.json
  third_party/rust/wgpu-core/.cargo-checksum.json
  third_party/rust/wgpu-core/src/command/compute.rs
  third_party/rust/wgpu-core/src/command/mod.rs
  third_party/rust/wgpu-core/src/command/render.rs
  third_party/rust/wgpu-core/src/conv.rs
  third_party/rust/wgpu-core/src/device/bgl.rs
  third_party/rust/wgpu-core/src/device/global.rs
  third_party/rust/wgpu-core/src/device/resource.rs
  third_party/rust/wgpu-core/src/instance.rs
  third_party/rust/wgpu-core/src/lock/observing.rs
  third_party/rust/wgpu-core/src/pipeline_cache.rs
  third_party/rust/wgpu-core/src/resource.rs
  third_party/rust/wgpu-core/src/validation.rs
  third_party/rust/wgpu-hal/.cargo-checksum.json
  third_party/rust/wgpu-hal/Cargo.toml
  third_party/rust/wgpu-hal/examples/halmark/main.rs
  third_party/rust/wgpu-hal/src/dx12/adapter.rs
  third_party/rust/wgpu-hal/src/dx12/command.rs
  third_party/rust/wgpu-hal/src/dx12/conv.rs
  third_party/rust/wgpu-hal/src/dx12/device.rs
  third_party/rust/wgpu-hal/src/dx12/mod.rs
  third_party/rust/wgpu-hal/src/gles/adapter.rs
  third_party/rust/wgpu-hal/src/gles/conv.rs
  third_party/rust/wgpu-hal/src/gles/device.rs
  third_party/rust/wgpu-hal/src/gles/egl.rs
  third_party/rust/wgpu-hal/src/gles/mod.rs
  third_party/rust/wgpu-hal/src/lib.rs
  third_party/rust/wgpu-hal/src/metal/adapter.rs
  third_party/rust/wgpu-hal/src/metal/device.rs
  third_party/rust/wgpu-hal/src/metal/mod.rs
  third_party/rust/wgpu-hal/src/noop/mod.rs
  third_party/rust/wgpu-hal/src/vulkan/adapter.rs
  third_party/rust/wgpu-hal/src/vulkan/conv.rs
  third_party/rust/wgpu-hal/src/vulkan/device.rs
  third_party/rust/wgpu-hal/src/vulkan/mod.rs
  third_party/rust/wgpu-types/.cargo-checksum.json
  third_party/rust/wgpu-types/src/lib.rs
Due: rejected-words

Bug 1995513 - Port bug 1979949: Deprecate `--in-content-item-selected*` in favor of `--*color-accent-primary-selected` design tokens. r=aleca
  mail/themes/shared/mail/accountManage.css
  mail/themes/shared/mail/accountManager.css
  mail/themes/shared/mail/common.css
  mail/themes/shared/mail/preferences/applications.css
  mail/themes/shared/mail/preferences/preferences.css
Due: none

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py
