Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 2012696 - Add test for correct rendering of opaque signed single line html message. r=mkmelin
  mail/test/browser/smime/browser.toml
  mail/test/browser/smime/browser_displayVarious.js
  mail/test/browser/smime/data/alice.html.sig.SHA256.opaque.eml
  mail/test/browser/smime/data/alice.html.sig.SHA256.opaque.env.eml
  mail/test/browser/smime/data/alice.sig.SHA256.opaque.eml
  mailnews/test/data/smime/local-gen.sh
Due: rejected-words

Bug 2012696 - Flush last line of CMS encoded message if it's missing a newline. r=mkmelin
  mailnews/mime/src/mimecms.cpp
Due: rejected-words

Bug 2012696 - Manually adjust test files in smime-manual after data refresh. r=mkmelin
  mailnews/test/data/smime-manual/alice.dsig.SHA256.multipart.env.dsig.eml
  mailnews/test/data/smime-manual/outer-smime-bad-sig-inner-smime-enc-sig.eml
  mailnews/test/data/smime-manual/outer-smime-bad-sig-inner-smime-enc.eml
  mailnews/test/data/smime-manual/readme.txt
Due: none

Bug 2012696 - Manually update expectations in test_ext_messages_encrypted.js (see also bug 2012823). r=john.bieling
  mail/components/extensions/test/xpcshell/test_ext_messages_encrypted.js
Due: rejected-words

Bug 2012712 - Throw an error if S/MIME cert/key importing fails in tests. r=mkmelin
  mailnews/test/resources/SmimeUtils.sys.mjs
Due: rejected-words

Bug 2012712 - Fix a syntax error in browser_multipartAlternative.js. r=mkmelin
  mail/test/browser/smime/browser_multipartAlternative.js
Due: rejected-words

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 2002546 - Allow displaying triple-wrapped opaque-signed S/MIME from gmail. r=mkmelin
  mail/extensions/smime/content/msgHdrViewSMIMEOverlay.js
  mailnews/extensions/smime/nsIMsgSMIMESink.idl
  mailnews/mime/src/mimecms.cpp
  mailnews/mime/src/mimecms.h
  mailnews/mime/src/mimecryp.cpp
  mailnews/mime/src/mimei.cpp
  mailnews/mime/src/mimei.h
  mailnews/mime/src/mimemalt.cpp
  mailnews/mime/src/mimemcms.cpp
  mailnews/mime/src/mimemcms.h
  mailnews/mime/src/mimemrel.cpp
  mailnews/mime/src/mimemult.cpp
  mailnews/mime/test/unit/test_smime_decrypt.js
  mailnews/mime/test/unit/test_smime_decrypt_allow_sha1.js
Due: rejected-words

Backed out changeset b6db8e6c940d for causing test failures.
  mail/test/browser/smime/browser.toml
  mail/test/browser/smime/browser_displayVarious.js
  mail/test/browser/smime/data/alice.html.sig.SHA256.opaque.eml
  mail/test/browser/smime/data/alice.html.sig.SHA256.opaque.env.eml
  mail/test/browser/smime/data/alice.sig.SHA256.opaque.eml
  mailnews/test/data/smime/local-gen.sh
Due: rejected-words

Backed out changeset d1bae9b8bfe8 for causing test failures.
  mailnews/mime/src/mimecms.cpp
Due: rejected-words

Backed out changeset 75dd36dca816 for causing test failures.
  mailnews/test/data/smime-manual/alice.dsig.SHA256.multipart.env.dsig.eml
  mailnews/test/data/smime-manual/outer-smime-bad-sig-inner-smime-enc-sig.eml
  mailnews/test/data/smime-manual/outer-smime-bad-sig-inner-smime-enc.eml
  mailnews/test/data/smime-manual/readme.txt
Due: none

Backed out changeset ce54b50f1745 for causing test failures.
  mail/components/extensions/test/xpcshell/test_ext_messages_encrypted.js
Due: rejected-words

Backed out changeset 985eb835508a for causing test failures.
  mailnews/test/resources/SmimeUtils.sys.mjs
Due: rejected-words

Backed out changeset 027fc7b1981d for causing test failures.
  mail/test/browser/smime/browser_multipartAlternative.js
Due: rejected-words

Bug 2013132 - Port bug 1989439 - use crashpings pings.yaml to report crash pings. r=#thunderbird-reviewers
  mail/moz.configure
Due: rejected-words

Bug 2007080 - migrate remaining linux tasks to d2g worker pools. r=dandarnell,darktrojan
  .taskcluster.yml
  taskcluster/comm_taskgraph/transforms/push_langpacks.py
  taskcluster/config.yml
  taskcluster/kinds/build/linux.yml
  taskcluster/kinds/build/macosx.yml
  taskcluster/kinds/build/windows.yml
  taskcluster/kinds/code-review/kind.yml
  taskcluster/kinds/l10n-pre/kind.yml
  taskcluster/kinds/l10n/kind.yml
  taskcluster/kinds/release-bouncer-check/kind.yml
  taskcluster/kinds/release-final-verify/kind.yml
  taskcluster/kinds/release-flatpak-repackage/kind.yml
  taskcluster/kinds/release-generate-checksums/kind.yml
  taskcluster/kinds/release-notify-started/kind.yml
  taskcluster/kinds/release-snap-repackage/kind.yml
  taskcluster/kinds/release-source/kind.yml
  taskcluster/kinds/release-update-verify-config-next/kind.yml
  taskcluster/kinds/release-update-verify-config/kind.yml
  taskcluster/kinds/release-update-verify-next/kind.yml
  taskcluster/kinds/release-update-verify/kind.yml
  taskcluster/kinds/repackage-deb-l10n/kind.yml
  taskcluster/kinds/repackage-deb/kind.yml
  taskcluster/kinds/repackage-l10n/kind.yml
  taskcluster/kinds/repackage-msix/kind.yml
  taskcluster/kinds/repackage-shippable-l10n-msix/kind.yml
  taskcluster/kinds/repackage/kind.yml
  taskcluster/kinds/repo-update/kind.yml
  taskcluster/kinds/searchfox/kind.yml
  taskcluster/kinds/shippable-l10n-pre/kind.yml
  taskcluster/kinds/shippable-l10n/kind.yml
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/libotr.yml
  taskcluster/kinds/upload-symbols/kind.yml
Due: rejected-words, comm_taskgraph-tests, diff

No bug, trigger build.
  build/dummy
Due: none

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=mkmelin,aleca
  rust/Cargo.lock
  rust/checksums.json
  rust/gkrust/Cargo.toml
  third_party/rust/urlpattern/.cargo-checksum.json
  third_party/rust/urlpattern/.cargo_vcs_info.json
  third_party/rust/urlpattern/.github/workflows/ci.yml
  third_party/rust/urlpattern/.github/workflows/publish.yml
  third_party/rust/urlpattern/.github/workflows/release.yml
  third_party/rust/urlpattern/.rustfmt.toml
  third_party/rust/urlpattern/Cargo.lock
  third_party/rust/urlpattern/Cargo.toml
  third_party/rust/urlpattern/benches/parse_patterns.rs
  third_party/rust/urlpattern/rust-toolchain.toml
  third_party/rust/urlpattern/src/component.rs
  third_party/rust/urlpattern/src/constructor_parser.rs
  third_party/rust/urlpattern/src/lib.rs
  third_party/rust/urlpattern/src/matcher.rs
  third_party/rust/urlpattern/src/parser.rs
  third_party/rust/urlpattern/src/quirks.rs
  third_party/rust/urlpattern/src/regexp.rs
  third_party/rust/urlpattern/src/tokenizer.rs
Due: rejected-words

Bug 2000842 - Try to fix intermittent comm/mail/base/test/browser/menus/browser_folderPaneContext.js | application timed out after 370 seconds with no output. r=vineet
  mail/base/test/browser/menus/browser_folderPaneContext.js
  mail/base/test/browser/menus/head.js
Due: rejected-words

Bug 2013376 - Add terser as toolchain for optimized taskcluster builds. rs=freaktechnik
  taskcluster/kinds/build/linux.yml
  taskcluster/kinds/build/macosx.yml
  taskcluster/kinds/build/windows.yml
  taskcluster/kinds/toolchain/kind.yml
Due: none

Bug 1962871 - Make the placeholder shortcuts less prominent. r=rtaylor,vineet
  mail/components/storybook/stories/keyboard-shortcut-indicator.stories.mjs
  mail/components/unifiedtoolbar/content/unifiedToolbarCustomizableItems.inc.xhtml
  mail/locales/en-US/messenger/about3Pane.ftl
  mail/locales/en-US/messenger/unifiedToolbar.ftl
  mail/themes/shared/mail/about3Pane.css
  mail/themes/shared/mail/unifiedToolbarShared.css
  mail/themes/shared/mail/widgets.css
Due: rejected-words

Bug 2013386: Clean Up URL Paths Used by UpdateBot r=coreycb
  taskcluster/docker/tb-updatebot/vendor/support.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. rs=me
  third_party/rust/askama/.cargo_vcs_info.json
  third_party/rust/askama/Cargo.lock
  third_party/rust/askama/clippy.toml
  third_party/rust/askama_derive/.cargo_vcs_info.json
  third_party/rust/askama_derive/Cargo.lock
  third_party/rust/askama_derive/Cargo.toml
  third_party/rust/askama_derive/clippy.toml
  third_party/rust/askama_parser/.cargo_vcs_info.json
  third_party/rust/askama_parser/Cargo.lock
  third_party/rust/askama_parser/Cargo.toml
  third_party/rust/askama_parser/clippy.toml
  third_party/rust/glean-core/.cargo_vcs_info.json
  third_party/rust/glean/.cargo_vcs_info.json
  third_party/rust/uniffi/.cargo_vcs_info.json
  third_party/rust/uniffi/tests/ui/proc_macro_arc.stderr
  third_party/rust/uniffi_bindgen/.cargo_vcs_info.json
  third_party/rust/uniffi_build/.cargo_vcs_info.json
  third_party/rust/uniffi_build/Cargo.toml
  third_party/rust/uniffi_core/.cargo_vcs_info.json
  third_party/rust/uniffi_core/Cargo.lock
  third_party/rust/uniffi_core/Cargo.toml
  third_party/rust/uniffi_internal_macros/.cargo_vcs_info.json
  third_party/rust/uniffi_internal_macros/Cargo.lock
  third_party/rust/uniffi_internal_macros/Cargo.toml
  third_party/rust/uniffi_macros/.cargo_vcs_info.json
  third_party/rust/uniffi_meta/.cargo_vcs_info.json
  third_party/rust/uniffi_pipeline/.cargo_vcs_info.json
  third_party/rust/uniffi_pipeline/Cargo.lock
  third_party/rust/uniffi_pipeline/Cargo.toml
  third_party/rust/uniffi_testing/.cargo_vcs_info.json
  third_party/rust/uniffi_testing/Cargo.lock
  third_party/rust/uniffi_testing/Cargo.toml
  third_party/rust/uniffi_testing/Cargo.toml.orig
  third_party/rust/uniffi_udl/.cargo_vcs_info.json
  third_party/rust/uniffi_udl/Cargo.toml
Due: none

Bug 2013376 - Follow up: Add terser to Win32/opt builds. DONTBUILD
  taskcluster/kinds/build/windows.yml
Due: none

Bug 1935334 - Remove usage of PluralForm.sys.mjs from virtualFolderProperties. r=babolivier,sking
  mail/base/test/browser/browser_virtualFolderEdit.js
  mail/locales/en-US/chrome/messenger/messenger.properties
  mail/locales/en-US/messenger/virtualFolderProperties.ftl
  mailnews/base/content/virtualFolderProperties.js
  python/l10n/tb_fluent_migrations/bug_1935334_virt_properties.py
Due: rejected-words

Bug 1952231 - Fix JavaScript error: chrome://calendar/content/calendar-item-panel.js, line 694: TypeError: can't access property "formatValueSync", this.l10n is undefined. r=aleca,sking,arschmitz
  calendar/base/content/item-editing/calendar-item-panel.js
  calendar/locales/en-US/calendar/calendar.ftl
  python/l10n/tb_fluent_migrations/bug_1952231_img_priority.py
Due: rejected-words

Bug 2013480 - Port Bug 2004444 - Update browser.toml files to have canonical conditions. r=freaktechnik DONTBUILD
  calendar/test/browser/browser.toml
  mail/base/test/browser/browser1.toml
  mail/base/test/browser/browser2.toml
  mail/base/test/browser/menus/browser.toml
Due: none

Bug 2013587 - Add logging for tb-rust-sync mach file not found. r=sking
  taskcluster/docker/tb-updatebot/vendor/__main__.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2008314 - Fix copying file messages into IMAP folders in the front end. r=mkmelin
  mail/base/content/about3Pane.js
  mail/base/content/mailCommon.js
  mail/components/extensions/parent/ext-messages.js
  mail/modules/MailUtils.sys.mjs
  mailnews/imap/src/nsImapMailFolder.cpp
  mailnews/imap/test/unit/test_copyThenMove.js
  mailnews/imap/test/unit/test_imapAttachmentSaves.js
Due: rejected-words
