Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

libotr-linux64:
  treeherder:
    platform: linux64/opt
  thirdparty:
    args:
    - linux64
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-linux32:
  treeherder:
    platform: linux32/opt
  thirdparty:
    args:
    - linux32
  toolchain:
  - linux64-clang
  - linux64-binutils

libotr-macosx64:
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/macosx64/cross-releng.manifest
  treeherder:
    platform: osx-cross/opt
  run:
    tooltool-downloads: internal
  thirdparty:
    args:
    - macosx64
  toolchain:
  - linux64-binutils
  - linux64-cctools-port
  - linux64-clang-macosx-cross
  ...

libotr-win32:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-32/opt
  thirdparty:
    args:
    - win32

libotr-win64:
  worker:
    docker-image:
      in-tree: tb-debian-mingw
  treeherder:
    platform: windows2012-64/opt
  thirdparty:
    args:
    - win64

l10n:
  description: Localization
  from-deps:
    group-by: platform
  locales-file: comm/mail/locales/onchange-locales
  locales-per-chunk: 5
  ignore-locales:
    by-build-platform:
      macosx64.*:
      - ja
      - en-US
      default:
      - ja-JP-mac
      - en-US
  run-time:
    by-build-platform:
      default: 900
  ...

rtd-webhook:
  description: Triggers a build of the in-tree source documentation at source-docs.thunderbird.net
  run-on-projects:
  - trunk
  index:
    product: thunderbird
    job-name: source-docs
  treeherder:
    platform: doc/opt
    kind: test
    symbol: doc(RTD)
    tier: 2
  worker-type: t-linux-docker-noscratch-amd
  worker:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
    command: ./comm/taskcluster/scripts/source-test-clang-format.sh {changed_files}
  fetches:
    toolchain:
    - linux64-clang
    - linux64-clang-tidy
    - linux64-rust
  ...

rejected-words:
  description: Reject some words we don't want to use in the code base
  treeherder:
    symbol: text(rejected-words)
    tier: 2
  run:
    mach: commlint -v -l rejected-words -f treeherder -f json:/builds/worker/mozlint.json comm

comm_taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(ctg)
  run:
    using: run-task
    cwd: '{checkout}'
    command: './mach configure && ./mach python-test --subsuite comm_taskgraph
  
      '

diff:
  description: Generates diffs of CI changes
  platform: linux1804-64/opt
  worker-type: t-linux-docker-amd
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: directory
      name: public/taskgraph
      path: /builds/worker/artifacts
  attributes:
    code-review: true
  ...

Bug 2053082 - Don't ignore .orig files. r=kaie
  .gitignore
  third_party/rust/operation-queue/Cargo.toml.orig
Due: none

Bug 2050346 - Update moz-phab in tb-updatebot to prevent errors on mismatched repository. r=darktrojan
  taskcluster/docker/tb-updatebot/requirements.in
  taskcluster/docker/tb-updatebot/requirements.txt
Due: none

Bug 1877326 - Add resize-with-window option to pane splitter to reize the pane along with the window. r=aleca
  mail/base/content/about3Pane.xhtml
  mail/base/content/widgets/pane-layout.mjs
  mail/base/content/widgets/pane-splitter.js
  mail/base/content/widgets/tree-view.mjs
  mail/base/test/browser/browser_dummyRow.js
  mail/base/test/browser/widgets/browser_autoTreeView.js
  mail/base/test/browser/widgets/browser_paneSplitter.js
  mail/base/test/browser/widgets/browser_treeView.js
  mail/base/test/browser/widgets/files/paneSplitter.xhtml
  mail/components/storybook/stories/pane-splitter.stories.mjs
  mail/test/browser/folder-display/browser_folderPaneVisibility.js
  mail/test/browser/folder-display/browser_messagePaneVisibility.js
  mail/test/browser/quick-filter-bar/browser_keyboardInterface.js
Due: rejected-words

Bug 1891713 - Fix copy behavior in message header fields. r=aleca
  mail/base/content/msgHdrView.js
  mail/test/browser/message-header/browser_messageHeader.js
Due: rejected-words

Bug 2014461 - Add protocol select subview to account hub. r=vineet,tobyp
  mail/components/accountcreation/content/widgets/email-protocol-select-form.mjs
  mail/components/accountcreation/jar.mn
  mail/components/accountcreation/templates/accountHubEmailProtocolSelectFormTemplate.inc.xhtml
  mail/components/accountcreation/templates/accountHubTemplate.inc.xhtml
  mail/components/accountcreation/views/email.mjs
  mail/components/storybook/stories/account-hub-account-type-card.stories.mjs
  mail/components/storybook/stories/protocol-select-card.stories.mjs
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/test/browser/account/browser_accountHubCredentialsConfirmation.js
  mail/test/browser/account/browser_accountHubManualConfig.js
  mail/themes/shared/mail/accountHub.css
Due: rejected-words

Bug 2052833 - Port bug 2051196: Additional :not([hidden]) removes. r=arschmitz
  calendar/base/themes/common/calendar-views.css
  mail/themes/shared/mail/about3Pane.css
  mail/themes/shared/mail/aboutAddressBook.css
  mail/themes/shared/mail/accountHub.css
  mail/themes/shared/mail/accountManage.css
  mail/themes/shared/mail/calendar/calendarDialog.css
  mail/themes/shared/mail/inContentDialog.css
  mail/themes/shared/mail/input-fields.css
  mail/themes/shared/mail/messageHeader.css
  mail/themes/shared/mail/messengercompose.css
  mail/themes/shared/mail/moz-page-nav/moz-page-nav-button.css
  mail/themes/shared/mail/preferences/preferences.css
  mail/themes/shared/mail/quickFilterBar.css
  mail/themes/shared/mail/threadPane.css
  mail/themes/shared/mail/unifiedToolbar.css
  mail/themes/shared/mail/unifiedToolbarShared.css
  mail/themes/shared/mail/vcard.css
  mail/themes/shared/mail/widgets.css
  mail/themes/shared/openpgp/keyDetails.css
Due: none

Bug 474719 - add preview functionality (QuickLook-like) for attachments. r=mkmelin,edicharry,arschmitz,tobyp
  mail/base/content/msgHdrView.js
  mail/base/content/widgets/attachment-list.mjs
  mail/components/shell/components.conf
  mail/components/shell/moz.build
  mail/components/shell/nsIMacQuickLook.idl
  mail/components/shell/nsMacQuickLook.h
  mail/components/shell/nsMacQuickLook.mm
  mail/modules/AttachmentInfo.sys.mjs
  mail/modules/QuickLookManager.sys.mjs
  mail/modules/moz.build
Due: rejected-words

Bug 1877420 - Fix compose window not opening for file arguments without recognized extension. r=arschmitz
  mail/components/MessengerContentHandler.sys.mjs
Due: rejected-words

Bug 2048162 - Follow-up: Fix new mail alert positioning on mixed-DPI multi-monitor setups. r=tobyp
  mailnews/base/content/newmailalert.js
  mailnews/base/src/MailNotificationManager.sys.mjs
Due: rejected-words

Bug 2053241 - Update formatting based on m-c lint updates. r=aleca
  calendar/test/browser/browser_todayPane.js
  calendar/test/browser/views/browser_midnightUpdate.js
Due: rejected-words

Bug 2050346 - Follow-up: remove --no-lint option from moz-phab submit. r=#thunderbuild DONTBUILD
  taskcluster/docker/tb-updatebot/vendor/support.py
Due: rejected-words, comm_taskgraph-tests, diff

Revert "Bug 2050346 - Follow-up: remove --no-lint option from moz-phab submit." r=dandarnell
  taskcluster/docker/tb-updatebot/vendor/support.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2050346 - Follow-up: remove --no-lint option from moz-phab submit. r=aleca DONTBUILD
  taskcluster/docker/tb-updatebot/vendor/support.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2053241 - Fix linter rule conflict that overrode some rules. r=aleca
  calendar/test/browser/browser_todayPane.js
  calendar/test/browser/views/browser_midnightUpdate.js
  eslint.config.mjs
Due: rejected-words

Backed out changeset 924d59f66e22 (Bug 2052833) for breaking tests.
  calendar/base/themes/common/calendar-views.css
  mail/themes/shared/mail/about3Pane.css
  mail/themes/shared/mail/aboutAddressBook.css
  mail/themes/shared/mail/accountHub.css
  mail/themes/shared/mail/accountManage.css
  mail/themes/shared/mail/calendar/calendarDialog.css
  mail/themes/shared/mail/inContentDialog.css
  mail/themes/shared/mail/input-fields.css
  mail/themes/shared/mail/messageHeader.css
  mail/themes/shared/mail/messengercompose.css
  mail/themes/shared/mail/moz-page-nav/moz-page-nav-button.css
  mail/themes/shared/mail/preferences/preferences.css
  mail/themes/shared/mail/quickFilterBar.css
  mail/themes/shared/mail/threadPane.css
  mail/themes/shared/mail/unifiedToolbar.css
  mail/themes/shared/mail/unifiedToolbarShared.css
  mail/themes/shared/mail/vcard.css
  mail/themes/shared/mail/widgets.css
  mail/themes/shared/openpgp/keyDetails.css
Due: none

Bug 2053290 - Port bug 2052740: Migrate various modules to moz-src. r=arschmitz
  mail/base/test/browser/performance/browser_startup.js
  mail/components/about-support/content/aboutSupport.js
  mail/components/preferences/cookies.js
  mailnews/addrbook/modules/CardDAVUtils.sys.mjs
Due: rejected-words

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=thunderbird-reviewers,darktrojan
  rust/.cargo/config.toml.in
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/bindgen/.cargo-checksum.json
  third_party/rust/bindgen/ir/ty.rs
Due: rejected-words

Bug 2014469 - Make the protocol select step go to the correct subview based on the selected protocol. r=klamping,tobyp
  mail/components/accountcreation/jar.mn
  mail/components/accountcreation/views/email.mjs
  mail/test/browser/account/browser_accountHubCredentialsConfirmation.js
  mail/test/browser/account/browser_accountHubManualConfig.js
Due: rejected-words

Bug 2028410 - Add help text to account-hub-input. r=klamping
  mail/components/accountcreation/content/widgets/account-hub-input.mjs
  mail/components/accountcreation/templates/accountHubInputTemplate.inc.xhtml
  mail/components/accountcreation/test/browser/browser_accountHubInput.js
  mail/components/accountcreation/test/browser/files/accountHubEmailManualConfigForm.xhtml
  mail/components/accountcreation/test/browser/files/accountHubInput.xhtml
  mail/themes/shared/mail/accountHub.css
Due: rejected-words

Bug 2050302 - Refactor out folder commands to their own module. r=arschmitz
  mail/base/content/about3Pane.js
  mail/base/content/mailCore.js
  mail/base/content/mainStatusbar.inc.xhtml
  mail/base/content/modules/FolderCommands.mjs
  mail/base/jar.mn
  mail/components/unifiedtoolbar/content/items/compact-folder-button.mjs
  mail/extensions/mailviews/content/msgViewPickerOverlay.js
Due: rejected-words

Bug 2050589 - Fix send progress getting stuck on Filter complete. r=BenC
  mailnews/compose/public/nsIMsgCompose.idl
  mailnews/compose/src/components.conf
  mailnews/compose/src/nsMsgCompose.cpp
  mailnews/compose/src/nsMsgCompose.h
  mailnews/compose/test/unit/test_nsMsgComposeSendListener.js
  mailnews/compose/test/unit/xpcshell.toml
Due: rejected-words

Bug 2028410 - Add form for exchange type step in manual config. r=klamping,tobyp
  mail/components/accountcreation/content/widgets/email-exchange-type.mjs
  mail/components/accountcreation/templates/accountHubEmailExchangeType.inc.xhtml
  mail/components/accountcreation/templates/accountHubTemplate.inc.xhtml
  mail/locales/en-US/messenger/accountcreation/accountHub.ftl
  mail/themes/shared/mail/accountHub.css
  mail/themes/shared/mail/accountHubForms.css
Due: rejected-words

Bug 2052824 - Dummy commit to trigger a build.
  build/dummy
Due: none

Bug 580252 - Add option to open global search results as list view. r=aleca,tobyp
  mail/app/profile/all-thunderbird.js
  mail/base/content/glodaListTab.js
  mail/base/content/messenger.js
  mail/base/content/messenger.xhtml
  mail/base/content/widgets/gloda-autocomplete-input.js
  mail/base/jar.mn
  mail/components/addrbook/content/aboutAddressBook.js
  mail/components/preferences/general.inc.xhtml
  mail/components/preferences/general.js
  mail/components/unifiedtoolbar/content/items/global-search-bar.mjs
  mail/locales/en-US/messenger/preferences/preferences.ftl
  mail/modules/QuickFilterManager.sys.mjs
  mail/test/browser/global-search-bar/browser.toml
  mail/test/browser/global-search-bar/browser_showAsListSetting.js
Due: rejected-words

Bug 2000815 - Stop rendering trailing empty lines in plain text message bodies. r=kaie
  mail/app/StaticPrefList.yaml
  mailnews/mime/src/mimetext.cpp
  mailnews/mime/src/mimetext.h
  mailnews/mime/src/mimetpfl.cpp
  mailnews/mime/src/mimetpla.cpp
  mailnews/mime/test/unit/test_trailingBlankLines.js
  mailnews/mime/test/unit/xpcshell.toml
Due: rejected-words

Bug 2047970 - Feed subscriptions should use <published> date instead of <updated>. r=arschmitz
  mailnews/extensions/newsblog/FeedParser.sys.mjs
  mailnews/extensions/newsblog/test/unit/resources/atom03_dates.xml
  mailnews/extensions/newsblog/test/unit/resources/atom_dates.xml
  mailnews/extensions/newsblog/test/unit/test_feedparser.js
Due: rejected-words

Bug 2052985 - Update transforms to use get_release_config from mozilla-taskgraph r=dandarnell
  taskcluster/comm_taskgraph/transforms/env_subst.py
  taskcluster/comm_taskgraph/transforms/release_flatpak_repackage.py
  taskcluster/comm_taskgraph/transforms/release_started.py
  taskcluster/comm_taskgraph/transforms/update_verify_config.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2052995 - Clean up imported certificates in test browser_displayVarious.js. r=edicharry
  mail/test/browser/smime/browser_displayVarious.js
Due: rejected-words

Bug 2052168 - Don't open attachments on modified Enter keypress. r=babolivier
  mail/base/content/widgets/attachment-list.mjs
  mail/test/browser/composition/browser_attachment.js
Due: rejected-words

Bug 2051476 - Normalize file URIs from command-line attachments. r=darktrojan
  mail/components/compose/content/MsgComposeCommands.js
  mail/test/marionette/manifest.toml
  mail/test/marionette/scripts/get_attachment_info.js
  mail/test/marionette/scripts/get_compose_details.js
  mail/test/marionette/scripts/get_tabs.js
  mail/test/marionette/test_commandline.py
  mail/test/marionette/test_compose_commandline.py
  mail/test/marionette/test_sessionstore.py
Due: rejected-words

Bug 2052069 - Ensure switching to the S/MIME handler for multipart/signed works. r=tobyp
  mail/extensions/openpgp/content/ui/enigmailMessengerOverlay.js
  mail/test/browser/openpgp/browser.toml
  mail/test/browser/openpgp/browser_handlerSwitchSmimeToPgp.js
  mail/test/browser/smime/browser.toml
  mail/test/browser/smime/browser_handlerSwitchPgpToSmime.js
Due: rejected-words

Bug 2053493 - Unset mime types and mailcap files when fuzzing. r=tobyp,kaie
  mailnews/mime/fuzz/TestMimeFuzz.cpp
Due: rejected-words

Bug 2010071 - Update hash_path to detect git checkout. r=thunderbird-build-system-reviewers,ebaginski
  taskcluster/comm_taskgraph/transforms/job/toolchain.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2048574 - Port bug 2048572: Move enterprise policies helper functions from comm/mail/ to a shared toolkit/components/enterprisepolicies/PoliciesHelpers.sys.mjs r=babolivier
  mail/components/enterprisepolicies/Policies.sys.mjs
Due: rejected-words

Bug 2051561 - Don't treat DAV:write-properties as write access for CalDAV calendars. r=darktrojan
  calendar/providers/caldav/CalDavCalendar.sys.mjs
  calendar/providers/caldav/CalDavProvider.sys.mjs
  calendar/providers/ics/CalICSProvider.sys.mjs
  calendar/test/unit/providers/test_caldavCalendar_cached.js
  calendar/test/unit/providers/test_caldavCalendar_uncached.js
Due: rejected-words

Bug 1675937 - Keep a calendar in its place in the calendar list when it is re-created or re-registered, instead of dropping it to the bottom. r=aleca
  calendar/base/content/calendar-management.js
  calendar/base/modules/utils/calProviderUtils.sys.mjs
  calendar/base/src/CalCalendarManager.sys.mjs
  calendar/test/browser/browser.toml
  calendar/test/browser/browser_calendarListReRegisterOrder.js
Due: rejected-words

Bug 2051567 - Don't treat write-properties as write access for CardDAV address books. r=mkmelin
  mailnews/addrbook/modules/CardDAVUtils.sys.mjs
Due: rejected-words

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py
