Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 2001605 - Fix incorrect scrolling overflow in account hub LDAP advanced form. r=tobyp
  mail/themes/shared/mail/accountHub.css
Due: none

no bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1903727 - Enable support for proxy API. r=mkmelin
  mail/components/extensions/annotations/proxy.json
Due: none

No bug - Format a .conf file. rs=me
  calendar/base/src/components.conf
Due: none

Bug 1941471 - Make panorama views load async. r=BenC,freaktechnik
  mailnews/db/panorama/content/LiveViewDataAdapter.mjs
  mailnews/db/panorama/content/panorama.js
  mailnews/db/panorama/public/nsILiveView.idl
  mailnews/db/panorama/src/LiveView.cpp
  mailnews/db/panorama/src/LiveView.h
  mailnews/db/panorama/test/xpcshell/test_liveView.js
  mailnews/db/panorama/test/xpcshell/test_liveViewDataAdapter.js
  mailnews/db/panorama/test/xpcshell/test_liveViewGroupedDataAdapter.js
  mailnews/db/panorama/test/xpcshell/test_liveViewThreadedDataAdapter.js
  mailnews/db/panorama/test/xpcshell/test_liveView_conversations.js
Due: rejected-words

Bug 2001602 - Remove nsIMsgComposeService.defaultIdentity from .idl. r=tobyp
  mailnews/compose/public/nsIMsgComposeService.idl
  mailnews/compose/src/nsMsgComposeService.cpp
  mailnews/compose/src/nsMsgComposeService.h
Due: rejected-words

Bug 2001602 - remove unused month names from calendar/locales/en-US/chrome/calendar/global.dtd. r=tobyp
  calendar/locales/en-US/chrome/calendar/global.dtd
Due: none

Bug 2001602 - fix logically dead code in mime_display_stream_complete/mime_display_stream_abort. r=tobyp
  mailnews/mime/src/mimemoz2.cpp
Due: rejected-words

Bug 2001602 - remove MIME_DRAFTS ifdef. r=tobyp
  mailnews/mime/src/mimecryp.cpp
  mailnews/mime/src/mimemalt.cpp
  mailnews/mime/src/mimemoz2.cpp
  mailnews/mime/src/mimemrel.cpp
  mailnews/mime/src/mimemsg.cpp
  mailnews/mime/src/mimemsig.cpp
  mailnews/mime/src/mimemult.cpp
  mailnews/mime/src/modlmime.h
Due: rejected-words

Bug 2001602 - fix uninitialized pointer field in AddressThreadData::​AddressThreadData(). r=tobyp
  mailnews/import/src/nsImportAddressBooks.cpp
Due: rejected-words

Bug 2001602 - Fix uninitialized scalar fields in nsAddrDatabase::​nsAddrDatabase(). r=tobyp
  mailnews/import/src/nsAddrDatabase.cpp
Due: rejected-words

Bug 1893950 - Incremental update to RNP 0.18.1. r=dandarnell
  mail/extensions/openpgp/content/modules/RNPLib.sys.mjs
  third_party/README.rnp
  third_party/rnp/CHANGELOG.md
  third_party/rnp/doc/tests/README.md
  third_party/rnp/doc/tests/rnpkeys-generate-key.md
  third_party/rnp/docs/installation.adoc
  third_party/rnp/include/rnp/rnp.h
  third_party/rnp/moz.yaml
  third_party/rnp/src/lib/crypto/ec_ossl.cpp
  third_party/rnp/src/librepgp/stream-dump.cpp
  third_party/rnp/src/librepgp/stream-sig.cpp
  third_party/rnp/src/librepgp/stream-write.cpp
  third_party/rnp/src/libsexpp/tests/src/traits-tests.cpp
  third_party/rnp/src/tests/CMakeLists.txt
  third_party/rnp/src/tests/cli_tests.py
  third_party/rnp/src/tests/ffi.cpp
  third_party/rnp/version.txt
Due: rejected-words

Bug 1979019 - Handle Invalid feed favicon which throws "Image corrupt or truncated.". r=vineet
  mailnews/extensions/newsblog/FeedUtils.sys.mjs
Due: rejected-words

Bug 2001549 - Remove race conditions in MsgOperationObserver. r=mkmelin
  mail/components/compose/content/MsgComposeCommands.js
  mail/components/extensions/parent/ext-compose.js
Due: rejected-words

Bug 2002105 - Fix sourcedocs build failure caused by duplicate FolderSelectionDataAdapter#selectedFolders doclet. r=vineet
  mail/base/content/modules/FolderSelectionDataAdapter.mjs
Due: rejected-words

Bug 2002069 part 1 - Fix code tripped up by initial about:blank. r=tobyp
  mail/base/content/mailTabs.js
  mail/base/content/widgets/message-pane.mjs
  mail/components/addrbook/test/browser/browser_contact_sidebar.js
  mail/test/browser/shared-modules/FolderDisplayHelpers.sys.mjs
Due: rejected-words

Bug 2002069 part 2 - Fix more code tripped up by initial about:blank. r=sking
  calendar/base/content/item-editing/calendar-item-panel.js
  calendar/test/browser/contextMenu/browser_edit.js
  calendar/test/browser/eventDialog/browser_attendeesDialog.js
  calendar/test/browser/preferences/head.js
  mail/base/content/glodaFacetTab.js
  mail/components/compose/content/MsgComposeCommands.js
  mail/components/extensions/parent/ext-mail.js
  mail/test/browser/content-policy/browser_exposedInContentTabs.js
  mail/test/browser/content-policy/browser_generalContentPolicy.js
  mail/test/browser/folder-display/browser_folderPaneVisibility.js
  mail/test/browser/folder-display/browser_messagePaneVisibility.js
  mail/test/browser/search-window/browser_searchFromSyntheticView.js
Due: rejected-words

Bug 2001602 - fix resource leak in imeBaseEmitter::AddHeaderField. r=tobyp
  mailnews/mime/emitters/nsMimeBaseEmitter.cpp
Due: rejected-words

Bug 2001602 - Fix two cases of "Variable copied when it could be moved" in mailnews/base/src/nsMsgFolderCache.cpp. r=tobyp
  mailnews/base/src/nsMsgFolderCache.cpp
Due: rejected-words

Bug 2001602 - fix deference before null check in mime_decompose_file_init_fn. r=jtracey
  mailnews/mime/src/mimedrft.cpp
Due: rejected-words

Bug 2002374 - Only try to switch to a pref pane if the tab has loaded the settings already. r=aleca
  mail/components/preferences/preferencesTab.js
Due: rejected-words

Bug 2001632 - Treat parts with a content-id as attachments only if they also have a name. r=mkmelin
  mail/components/extensions/ExtensionMessages.sys.mjs
  mail/components/extensions/test/xpcshell/test_ext_messages_attachments.js
  mail/components/extensions/test/xpcshell/test_ext_messages_bug_1737532.js
  mail/components/extensions/test/xpcshell/test_ext_messages_listInlineTextParts.js
Due: rejected-words

Bug 1988329 - Fix SMTP sending hangs when multiple messages queued for sending. r=mkmelin
  mailnews/compose/src/SmtpClient.sys.mjs
Due: rejected-words

Bug 2002213 - Check for trash folder listener before accessing it. r=babolivier
  mailnews/protocols/ews/src/EwsFolder.cpp
Due: rejected-words

Bug 2001640 - Port bug 1988865: Use `--border-color` instead of `--in-content-border-color` or `--in-content-border-color`. r=aleca
  mail/themes/shared/mail/abFormFields.css
  mail/themes/shared/mail/aboutAddressBook.css
  mail/themes/shared/mail/accountManage.css
  mail/themes/shared/mail/accountManager.css
  mail/themes/shared/mail/accountSetup.css
  mail/themes/shared/mail/cardDialog.css
  mail/themes/shared/mail/common.css
  mail/themes/shared/mail/preferences/applications.css
  mail/themes/shared/mail/preferences/dialog.css
  mail/themes/shared/mail/preferences/preferences.css
  mail/themes/shared/mail/widgets.css
  mail/themes/shared/openpgp/confirmPubkeyImport.css
  mail/themes/shared/openpgp/keyWizard.css
Due: none

Bug 2002403: Use Built in repo tools for find changed files in the decision task. r=dandarnell
  taskcluster/comm_taskgraph/decision.py
  taskcluster/comm_taskgraph/files_changed.py
Due: rejected-words, comm_taskgraph-tests, diff

No Bug - Retrigger Build
  build/dummy
Due: none

Bug 2002403: Part 2 - Add prefix path back into changed files r=darktrojan
  taskcluster/comm_taskgraph/decision.py
  taskcluster/comm_taskgraph/files_changed.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 1878375 - Synchronize vendored Rust libraries with mozilla-central. r=darktrojan
  rust/Cargo.lock
  rust/Cargo.toml
  rust/checksums.json
  third_party/rust/glean-core/.cargo-checksum.json
  third_party/rust/glean-core/.cargo_vcs_info.json
  third_party/rust/glean-core/Cargo.lock
  third_party/rust/glean-core/Cargo.toml
  third_party/rust/glean-core/Cargo.toml.orig
  third_party/rust/glean-core/src/storage/mod.rs
  third_party/rust/glean/.cargo-checksum.json
  third_party/rust/glean/.cargo_vcs_info.json
  third_party/rust/glean/Cargo.lock
  third_party/rust/glean/Cargo.toml
  third_party/rust/glean/Cargo.toml.orig
Due: rejected-words

Bug 2001602 - fix out-of-bounds access in mimeEmitterEndHeader. r=jtracey
  mailnews/mime/src/mimemoz2.cpp
Due: rejected-words

Bug 2001602 - remove a bunch of unused code from ComposerCommands.js. r=aleca
  mail/components/compose/content/ComposerCommands.js
Due: rejected-words

Bug 2001602 - remove extractEventLocaleList/extractTaskLocaleList and related code. r=tobyp
  calendar/base/content/calendar-extract.js
  mail/base/content/messageWindow.xhtml
Due: rejected-words

Bug 1826285 - Try to fix intermittent comm/mail/components/unifiedtoolbar/test/browser/browser_customizableItems.js | Default items order stable for extensions. r=freaktechnik
  mail/components/unifiedtoolbar/modules/CustomizableItems.sys.mjs
Due: rejected-words
