Repository mozilla/releases-comm-central: changes, and which Taskcluster tasks are due for each by the changed paths.
All: libotr-linux64, libotr-linux32, libotr-macosx64, libotr-win32, libotr-win64, l10n, rtd-webhook, format, rejected-words, comm_taskgraph-tests, diff

Path conditions:
  libotr-linux64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-linux32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-macosx64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win32: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  libotr-win64: any of: comm/third_party/README.libgcrypt, comm/third_party/README.libgpg-error, comm/third_party/README.libotr, comm/third_party/libgcrypt, comm/third_party/libgpg-error, comm/third_party/libotr
  l10n: any of: comm/calendar/locales/**, comm/chat/locales/**, comm/mail/locales/**, comm/testing/mozharness/configs/single_locale/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, third_party/python/compare-locales/**, toolkit/locales/**, toolkit/mozapps/installer/**
  rtd-webhook: any of: comm/**/docs/**, comm/taskcluster/kinds/source-docs/*.yml
  format: any of: comm/**/*.c, comm/**/*.cc, comm/**/*.cpp, comm/**/*.m, comm/**/*.mm, comm/**/*.h
  rejected-words: any of: **/*.js, **/*.jsx, **/*.mjs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.idl, **/*.webidl, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl, **/*.java, **/*.kt, **/*.rs, tools/lint/rejected-words.yml
  comm_taskgraph-tests: any of: taskcluster/**/*.py, comm/taskcluster/**/*.py
  diff: any of: comm/taskcluster/kinds/**, comm/taskcluster/**/*.py, taskcluster/**/*.py

Bug 2063939 - Fix signature not inserted in plaintext inline forward with signature below the quote. r=BenC
  mail/test/browser/composition/browser3.toml
  mail/test/browser/composition/browser_forwardSignature.js
  mailnews/compose/src/nsMsgCompose.cpp
Due: rejected-words

No Bug - Bumping Thunderbird l10n changesets r=release a=l10n-bump DONTBUILD
  mail/locales/l10n-changesets.json
Due: none

Bug 1872515 - Make the offline icon better visible in offline state. r=tobyp
  mail/themes/shared/mail/messenger.css
Due: none

Bug 2070966 - False "application not configured to display crash reports" shown in Help > Troubleshooting Information. r=babolivier
  mail/components/about-support/content/aboutSupport.xhtml
  mail/test/browser/content-tabs/browser_aboutSupport.js
Due: rejected-words

Bug 2070843 - follow-up test fix to make linux debug/CCov happy. rs=me
  mailnews/extensions/newsblog/test/browser/browser_feedDisplay.js
Due: rejected-words

Bug 2054108 - Implement nsCMSMessage::GetEncryptionCert. r=edicharry
  mail/test/browser/openpgp/browser_viewMessageSecurity.js
  mailnews/extensions/smime/nsCMS.cpp
  mailnews/extensions/smime/nsCMS.h
  mailnews/mime/test/unit/test_smime_decrypt.js
  mailnews/mime/test/unit/test_smime_decrypt_allow_sha1.js
  mailnews/mime/test/unit/test_smime_perm_decrypt.js
  mailnews/nss-extra.symbols
Due: rejected-words

Bug 2071249 - Update BlockAboutConfig,DisableDeveloperTools r=tobyp
  mail/components/enterprisepolicies/Policies.sys.mjs
  mail/components/enterprisepolicies/tests/browser/browser_policies_differences.js
Due: rejected-words

Bug 1991785 - Stop the calendar from dropping a saved login the server never rejected. r=arschmitz,mkmelin
  calendar/base/modules/utils/calAuthUtils.sys.mjs
  calendar/test/unit/test_auth_utils.js
Due: rejected-words

Bug 2068505 - Test that content scripts run in web pages loaded into the message pane. r=arschmitz
  mail/components/extensions/test/browser/browser3.toml
  mail/components/extensions/test/browser/browser_ext_contentScripts_messagePane.js
Due: rejected-words

Bug 2070918 - Do not run tests on shippable for Thunderbird Enterprise builds r=babolivier
  taskcluster/kinds/test/test-platforms.yml
Due: none

Bug 2069617 - Migrate compose window strings to Fluent. r=dandarnell,mkmelin,tobyp
  mail/components/compose/content/MsgComposeCommands.js
  mail/components/compose/content/MsgComposeCommands.js.globals
  mail/components/compose/content/addressingWidgetOverlay.js
  mail/components/compose/content/bigFileObserver.js
  mail/components/compose/content/composeWidgets.mjs
  mail/components/compose/content/messengercompose.xhtml
  mail/extensions/openpgp/content/ui/enigmailMsgComposeOverlay.js
  mail/locales/en-US/chrome/messenger/messengercompose/composeMsgs.properties
  mail/locales/en-US/messenger/messengercompose/messengercompose.ftl
  mail/test/browser/composition/browser_attachmentReminder.js
  mail/test/browser/composition/browser_customHeaders.js
  python/l10n/tb_fluent_migrations/bug_2069617_compose_commands.py
Due: rejected-words

Bug 2069617 - Remove unused nsMsgPrompts helpers and migrate alerts to Fluent. r=dandarnell,mkmelin,tobyp
  mail/locales/en-US/chrome/messenger/messengercompose/composeMsgs.properties
  mail/locales/en-US/messenger/messageSend.ftl
  mail/locales/en-US/messenger/messengercompose/messengercompose.ftl
  mailnews/compose/src/nsMsgCompose.cpp
  mailnews/compose/src/nsMsgPrompts.cpp
  mailnews/compose/src/nsMsgPrompts.h
  mailnews/compose/src/nsMsgSendLater.cpp
  mailnews/extensions/mdn/nsMsgMdnGenerator.cpp
  python/l10n/tb_fluent_migrations/bug_2069617_compose_alerts.py
Due: rejected-words

Bug 2069617 - Migrate message sending strings to Fluent. r=dandarnell,mkmelin,tobyp
  mail/locales/en-US/chrome/messenger/messengercompose/composeMsgs.properties
  mail/locales/en-US/messenger/messageSend.ftl
  mailnews/compose/src/MessageSend.sys.mjs
  mailnews/compose/src/MimeMessageUtils.sys.mjs
  mailnews/compose/src/SmtpClient.sys.mjs
  mailnews/compose/test/unit/test_sendMailAddressIDN.js
  mailnews/compose/test/unit/test_smtpCancel.js
  python/l10n/tb_fluent_migrations/bug_2069617_message_sending.py
Due: rejected-words

Bug 2069906 - Don't let the handlersView grow too wide. r=vineet
  mail/themes/shared/mail/preferences/applications.css
Due: none

No bug - fix fluent lint error. DONTBUILD rs=bustage-fix
  mail/locales/en-US/messenger/messengercompose/messengercompose.ftl
Due: rejected-words

Bug 2069899 - Add TaskCluster graph symbol verification for Thunderbird Enterprise r=coreycb
  taskcluster/comm_taskgraph/util/verify.py
Due: rejected-words, comm_taskgraph-tests, diff

Bug 2071044 - Remove unused editor.properties strings. r=arschmitz
  mail/locales/en-US/chrome/messenger/messengercompose/editor.properties
Due: rejected-words

No bug - Archive completed Fluent migration scripts. rs=me DONTBUILD
  python/l10n/tb_fluent_migrations/completed/bug_2069617_compose_alerts.py
  python/l10n/tb_fluent_migrations/completed/bug_2069617_compose_commands.py
  python/l10n/tb_fluent_migrations/completed/bug_2069617_message_sending.py
Due: rejected-words

Bug 1965145 - Update merge-automation to change pinned repo URL r=sking
  taskcluster/kinds/merge-automation/kind.yml
Due: none

Bug 2065695 - Add msgKey<->UID mapping to nsImapProtocol::TryToRunUrlLocally(). r=babolivier
  mailnews/imap/src/nsImapProtocol.cpp
Due: rejected-words

Bug 2065695 - Remove dead code nsImapUrl::GetMsgFolder(). r=mkmelin
  mailnews/imap/src/nsImapUrl.cpp
  mailnews/imap/src/nsImapUrl.h
Due: rejected-words

Bug 2071226 - Add x-compatibility for Thunderbird Enterprise r=jneuberger,tobyp
  mail/components/enterprisepolicies/schemas/policies-schema-enterprise.json
Due: none

Bug 2042821 - Pass the access token to createClient() after Matrix SSO login. r=freaktechnik
  chat/protocols/matrix/matrixAccount.sys.mjs
Due: rejected-words

Bug 2071403 - Update Thundermail system add-on to v2.0.13. r=coreycb
  mail/extensions/builtin-addons/thundermail/extension/background.mjs
  mail/extensions/builtin-addons/thundermail/extension/extension.mjs
  mail/extensions/builtin-addons/thundermail/extension/management.mjs
  mail/extensions/builtin-addons/thundermail/extension/manifest.json
  mail/extensions/builtin-addons/thundermail/extension/token-bridge.js
Due: rejected-words

Bug 2062951 - use folder.localizedName when building the archive folder structure. r=babolivier
  mail/base/test/unit/test_archive.js
  mail/modules/MessageArchiver.sys.mjs
Due: rejected-words

Bug 2071641 - Add HTTP and HTTPS permissions for scheme-less hosts. r=mkmelin
  mail/components/preferences/permissions.js
  mail/components/preferences/test/browser/browser_privacy.js
Due: rejected-words

Bug 1994131 - Name the calendar in the dialog that asks for its password. r=tobyp,mkmelin
  calendar/base/modules/utils/calAuthUtils.sys.mjs
  calendar/base/modules/utils/calProviderUtils.sys.mjs
  calendar/locales/en-US/calendar/calendar.ftl
  calendar/test/unit/test_auth_utils.js
  mailnews/base/src/MsgAsyncPrompter.sys.mjs
Due: rejected-words

Bug 2007933 - Store the username entered in the password dialog on the calendar. r=mkmelin,tobyp
  calendar/base/modules/utils/calAuthUtils.sys.mjs
  calendar/providers/caldav/modules/CalDavRequest.sys.mjs
  calendar/test/unit/test_auth_utils.js
  calendar/test/unit/test_caldav_requests.js
Due: rejected-words

Bug 2065450 - Remove the calendar's unused credentials prompt. r=mkmelin
  calendar/base/modules/utils/calAuthUtils.sys.mjs
  calendar/locales/en-US/calendar/calendar.ftl
Due: rejected-words

Bug 2071882 - Enable cut and copy in the calendar view context menu. r=tobyp
  calendar/base/content/calendar-context-menus-and-tooltips.inc.xhtml
Due: rejected-words

Bug 2064336 - Don't upload a contact that is no longer in the address book. r=tobyp
  mailnews/addrbook/modules/CardDAVDirectory.sys.mjs
  mailnews/addrbook/test/CardDAVServer.sys.mjs
  mailnews/addrbook/test/unit/test_cardDAV_uploadQueue.js
  mailnews/addrbook/test/unit/test_delete_book.js
  mailnews/addrbook/test/unit/xpcshell_cardDAV.toml
Due: rejected-words
